[2013-04-26 07:01] justmoon opened #1 "Open-source ripple-lib"
Need to extract from rippled repository, filter-branch, rebase, gc and push.

[2013-04-26 08:10] #1 closed, assigned to justmoon

[2013-05-18 22:40] CHE77 opened #5 "Some error while cleaning self trust line"
I had issue with offers and self trust lines - https://github.com/rippleFoundation/ripple-client/issues/538
I tried to clear the self trust line using the node rsign.js from ripple-lib but stack with error.

put data into command
 node rsign.js $Belarus_SECRET $json_TrustSet

'{"Account":"rBztYvjByTk1DsokHb28bGS2SAPJTkQd2A","Fee":"10","Flags":0,"Sequence":45,"TransactionType":"TrustSet","LimitAmou

[2013-05-23 23:54] #5 closed, assigned to nobody

[2013-05-30 16:25] vhpoet opened #6 "zero.add(negativeAmount) becomes positive"
ripple.Amount.from_human('0').add(ripple.Amount.from_human('-1')).to_human()

Output: "1". Expected output: "-1"

[2013-05-31 04:59] #6 closed, assigned to nobody

[2013-06-07 07:08] witterlee opened #7 "example"
please give some example

[2013-06-07 09:15] #7 closed, assigned to nobody

[2013-09-09 18:55] emschwartz opened #10 "Submitting transactions with parameter object"
It would be great to be able to submit transactions with a parameter object instead of as individual parameters to functions like `transaction.payment()` and `transaction.offer_create()`. Particularly with `offer_create()`, getting the order wrong would result in submitting an offer that is exactly the opposite of what you want.

It would also be more intuitive to submit offers with the phrasing "

[2013-09-09 21:04] emschwartz opened #11 "transaction.offer_create() expiration uses epoch time from 1970 while system expects 2000"
https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/transaction.js#L406

[code]

This bit is using the JavaScript date object's getTime() method but the system expects the number to represent number of milliseconds since 2000

[2013-09-10 04:13] #10 closed, assigned to nobody

[2013-09-28 15:01] vhpoet opened #12 "request_book_offers params"
I think we don't leave a chance to use "pays" and "taker" params. "gets" is always an object, and we replace "pays" and "taker" with gets.pays and gets.taker.
https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/remote.js#L875-L881

Even if it's not an object, we'll get an exception.
https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/remote.js#L890

[2013-10-03 00:46] emschwartz opened #14 "Error submitting transaction with parameter object"
When I try to submit a payment transaction using the form:

[code]

I get the error copied below, even though there is no problem when I submit it using the form:

[code]

and `UInt160.is_valid(SENDER)` and `UInt160.is_valid(RECEIVER)` both return true.

This is the error:

[code]

[2013-10-03 08:06] #12 closed, assigned to nobody

[2013-10-03 18:16] nealmcb opened #15 "Explain more clearly who might want this, for what, and how this fits into the ecosystem."
Now that there are so many ripple repositories, it would help to clarify, both in README.md and perhaps even in the github description (now "JS library for talking to the Ripple API"), how this repo fits in, for folks that aren't up to speed with all the parts and technologies.  Who would want it, what are some very high-level examples of how different kinds of users might use it, what other repos

[2013-10-03 21:09] #14 closed, assigned to nobody

[2013-10-04 08:36] sublimator opened #16 "Resubmitted transactions are always resigned regardless of whether hash of contents has actually changed"
[code]

In code above `previously_signed` is always false.

[2013-10-04 17:36] vhpoet opened #17 "Amount rounding"
Currently Amount.to_human() with a precision of 0 rounds 49.999 to 49 . It should round to the nearest integer. 3.4 => 3, 3.5 => 4, 3.6 => 4.

[2013-10-06 10:35] #16 closed, assigned to nobody

[2013-10-06 10:35] #17 closed, assigned to nobody

[2013-10-24 15:22] sublimator opened #20 "build_path not sent to server when submitting transactions locally signed"
https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/transactionmanager.js#L205-L211

[2013-10-24 17:26] #20 closed, assigned to nobody

[2013-10-29 18:49] anderssonfilip opened #22 "Running test on master branch"
I cloned the latest version of the master branch today and followed the build instructions. The build was successful but running the tests failed.

npm test

resulted in this npm-debug-log  (I'm a novice node/js developer so cant make much sense of it yet)

0 info it worked if it ends with ok
1 verbose cli [ 'c:\Program Files\nodejs\node.exe',
1 verbose cli   'c:\Program Files\nodejs\node_modules\

[2013-10-30 06:56] #22 closed, assigned to nobody

[2013-11-07 16:38] donovanhide opened #24 "Account trust lines API call wrongly called"
https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/account.js#L179

invokes

`this._remote.request_account_lines`

with missing account_index and ledger arguments.

[2013-11-09 18:04] sublimator opened #25 "Uint160.from_json can't read hex strings"
(edit: removed long json dump as it's just noise)

[2013-11-10 09:09] sublimator opened #26 "Hash160 fields which should have json string representation of hex use base58"
[code]

The above is taken from some ledger dumps created using ripple-lib, with 160 bits rendered as account ids.
(Those fields are the only ones which use the STHash160 type)

The correct json serialization is a hex string:
- https://github.com/ripple/rippled/blob/develop/src/ripple_data/protocol/SerializedTypes.h#L895
- https://github.com/ripple/rippled/blob/develop/src/ripple_data/protocol/Ser

[2013-11-18 09:03] enkows opened #28 "Get a error when submitting a trade offer to the network."
[code]

I run the demo code with my ripple address and secret, but got this error.

[code]

[2013-11-27 08:59] Sneezry opened #29 "this project makes me get a headache"
i have to say, this project is the most confusing one i've ever touched. sorry for that, but i must say it.

'ripple-lib connects to the Ripple network via the WebSocket protocol and runs in Node.js as well as in the browser.'

it says this project can run in browser as well, but all demos are wrote for node! how to run in the browser?

ok, then i found a demo for browser finally on your wiki, and

[2013-11-27 10:38] #29 closed, assigned to nobody

[2013-11-27 18:26] vhpoet opened #30 "Duplicate transactions"
See https://ripplelabs.atlassian.net/browse/WC-1189

[2013-11-27 21:50] #28 closed, assigned to nobody

[2013-11-27 22:32] #15 closed, assigned to nobody

[2013-12-02 04:38] tacoplease opened #32 "not allowing XRP as part of an offer"
When I go:
var takerPays=Amount.from_json("100/BTC/rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B");
var takerGets=Amount.from_json("20/USD/rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B");

transaction.offer_create(order.pubKey,takerPays,takerGets);

it is fine but if instead I go:
var takerPays=Amount.from_json("100/XRP");
var takerGets=Amount.from_json("20/USD/rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B");
transaction.offer_creat

[2013-12-23 20:04] #30 closed, assigned to nobody

[2013-12-23 20:06] #11 closed, assigned to nobody

[2014-01-01 08:19] supersunn1 opened #37 "how to create a payment transaction with XRP ?"
i have been successfully creating payment transaction from IOU 2 IOU but i have issues dealing with XRP -

if i want to buy XRP with some IOU i should specify Amount: (some integer string) as XRP

for example Amount:"100000"

but i get

invalid Amoun Type as error.

so i change it to Amount: Amount.from_human("100XRP")

expecting this should work .. but it give me

XRP may not be specified as obje

[2014-01-05 11:48] sublimator opened #39 "Errors introduced updating naming conventionToCamelCase"
https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/remote.js#L1244-L1264

[2014-01-05 17:52] Sam-Izdat opened #40 "Transactions sometimes fail and sometimes say they fail when they succeed - any idempotent way to resubmit manually?"
I apologize ahead of time that I'm not familiar with the inner workings of ripple-lib. I'm trying to get automated payments working. My code is pretty boilerplate.

[code]

Sometimes -- just once in a while -- transactions just will spit out an error but eventually succeed; sometimes, transactions say error and actually fail. In either case, I get this:

[code]

... and have no way to tell what ac

[2014-01-06 05:48] scyehan opened #41 "Ripple use what kind of date format?"
I use request_account_tx to get transaction records?
In the response json contain date like:
"date": 442209610

It's not UTC, I want to ask it's what kind of date format and how to transmit to current time in node.js?

[2014-01-06 17:43] #39 closed, assigned to nobody

[2014-01-06 17:48] #41 closed, assigned to nobody

[2014-01-08 20:58] #40 closed, assigned to nobody

[2014-01-09 02:24] witterlee opened #42 "Transaction succeed,but return error"
I submit transaction, the transaction is success,but return a error to me.
some code like this:
var _amount = Amount.from_human(amount + currency); // 100CNY  or 100XRP

 if (currency != 'XRP') _amount.set_issuer(CONST.GATEWAY_ADDR);
 else _amount.set_issuer(_from);

 var tx = _remote.transaction();

[code]

tx.submit(function (txerr, res) {
      if (txerr) {
         //log txerr  ==RippleError:

[2014-01-09 11:33] Sam-Izdat opened #44 "Duplicate transactions"
This only seems to happen once in a blue moon, and I don't have much useful information in my logs. I'm 99% certain that it isn't my script, as transactions are never looped or repeated and the logs show only payment issued by the pay-out function when this occurs.

Configuration looks like this:

[code]

I wish I could give you more, except to say it's a rare, intermittent occurrence.

Has anyone

[2014-01-13 06:32] Sam-Izdat opened #45 "Required request_account_tx options are deprecated?"
[This](https://github.com/ripple/ripple-lib/blob/develop/docs/REFERENCE.md#transaction-query-functions), under `request_account_tx(opts, [callback])`, states that both `ledger_index_min` and `ledger_index_max` are deprecated, but the [ripple API docs](https://ripple.com/wiki/RPC_API#account_tx) list them as required. What are we supposed to use instead?

[2014-01-13 17:50] jaesharp opened #46 "ripple-lib on npm is out of date"
The available package on NPM is currently out of date and missing critical fixes. Expectation is that the package is kept up to date with the latest release. Propose, keep the package up to date with official releases or unpublish and point people to the git repository.

[2014-01-13 19:32] #44 closed, assigned to nobody

[2014-01-13 19:34] #46 closed, assigned to wltsmrz

[2014-01-13 19:42] #37 closed, assigned to nobody

[2014-01-19 22:31] sprohaska opened #49 "Amount.multiply(v) and divide(d) compute unexpected results if argument's currency is XRP"
I expected Amount's divide() to compute `2 XRP / 50 XRP = 0.04 XRP` and multiply() to compute `2 XRP * 3 XRP = 6 XRP`, because the currency of the argument to the function, i.e. the second operand in the formula, is ignored.

But the current implementation computes different results if the function argument's currency is XRP.  The following tests (coffeescript) fail:

[code]

They pass with the di

[2014-01-19 23:39] #49 closed, assigned to nobody

[2014-01-22 23:11] #42 closed, assigned to nobody

[2014-01-24 17:03] shekenahglory opened #50 "removeListener for order books does not unsubscribe from the rippled feed"
calling book.removeListener('model', modeListener) does not result in an unsubscribe message being sent to the remote server.

In addition, subscribing to an order book results in the creation of a prepare_subscribe function on the remote server, that gets called every time the remote reconnects, resulting in 'subscribe' calls being sent to the server for order books that are no longer wanted.

lo

[2014-01-27 17:38] #45 closed, assigned to nobody

[2014-02-04 21:21] vhpoet opened #51 "Orderbook shows different currency/issuers for asks/bids"
Check the screenshot.

![screen shot 2014-02-04 at 12 37 15 pm](https://f.cloud.github.com/assets/686185/2081383/3d69c8e0-8de2-11e3-8f39-1d4c1b7da9d5.png)

[2014-02-06 07:49] sublimator opened #52 "TransactionManager enchancements for ripple-rest and ripple-gateway"
`ripple-lib` should allow asynchronous presubmission hooks for transactions,
that allow deferring until calledback.
## Why ?

If it's possible to have multiple transactionIDs what really defines a
a transaction?

Maybe is possible to simply use binary serialization to to create a hash
of all the fields that would be static over a submission lifecycle.

This would be all fields, excluding the follo

[2014-02-06 08:05] sublimator opened #53 "TransactionManager not filtering inbound transactions when applying account_tx transactions"
https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/transactionmanager.js#L101-L102

Is it possible these can effect the Sequence cache?

[2014-02-06 08:25] sublimator opened #54 "TransactionManager timeout handling (and non subscription based validated clearing)"
For whatever reason, there's no guarantee you'll get a submit response or transaction subscription notification, for a given submit, that will ultimately be successful.

Currently account_tx sweeps are only ever done on disconnect, and in a non systematic way, requesting the last 100 transactions (including outbound / inbound transactions)

Reporting that a transaction has timed out, when it's in

[2014-02-07 05:04] sublimator opened #55 "Memory Leaks Audit"
Things like:
- https://github.com/ripple/ripple-lib/blob/b21be326fec3356d587fd83559ce18f7d6418c72/src/js/ripple/transactionqueue.js#L39
- https://github.com/ripple/ripple-lib/blob/b21be326fec3356d587fd83559ce18f7d6418c72/src/js/ripple/remote.js#L105

The above would likely take quite some time to cause an issue, but it's just an example of the things we should look for. ripple-lib evolved mostly f

[2014-02-07 05:07] sublimator opened #56 "Configurable auto-ping & connection stall detection"
re: ping
- https://github.com/ripple/ripple-lib/issues/45#issuecomment-32439629
- https://github.com/ripple/ripple-lib/issues/45#issuecomment-33369171

re: connection stall detection
- https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/server.js#L56-L78

[2014-02-19 18:05] #53 closed, assigned to nobody

[2014-02-19 18:11] #56 closed, assigned to nobody

[2014-02-19 21:06] #55 closed, assigned to nobody

[2014-02-23 04:59] sublimator opened #57 "OrderBook bug"
![screen shot 2014-02-21 at 4 10 07 pm](https://f.cloud.github.com/assets/525211/2239650/3cd2c20c-9c46-11e3-9db4-5e47dfebb9e6.png)

rippled notifies order book subscribers of any affecting transactions, via
sending `"type":"transaction"` message.

The Remote class keeps a taker_gets/taker_pays keyed cache of OrderBook
classes. When a transaction message is received it iterates over all the offers

[2014-02-24 00:43] sublimator opened #58 "Remote config validation"
If a port is specified in the `host` string as well as via `port` a less than useful `invalid string` error is raised.

In general we should validate and present useful programmer time saving information

[2014-02-27 10:00] sublimator opened #59 "Handle telINSUF_FEE_P"

[2014-02-27 13:56] sublimator opened #61 "Bobby Sharp's Laws of LastLedgerSequence"
1. CLIENT submits a transaction without a max ledger field == RTS resubmits indefinitely, RTS can use the max ledger field as it sees fit.
2. CLIENT submits a transaction with a max ledger field == RTS MUST stop resubmitting at that ledger. RTS can NOT change the value of the max ledger field.

[2014-03-03 21:12] #58 closed, assigned to nobody

[2014-03-05 21:49] wltsmrz opened #63 "Whitelist type_hex path property"
https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/transaction.js#L386-L404

[2014-03-07 15:14] sublimator opened #64 "Transaction.offer_create expiration argument semantics"
https://github.com/ripple/rippled/blob/d9a01811894e3cbd6e711da1754abb52e6933cf7/node_modules/ripple-lib/src/js/ripple/transaction.js#L436

rippled expects a uint32, seconds since ripple epoch

[2014-03-07 15:16] #64 closed, assigned to nobody

[2014-03-07 19:56] #24 closed, assigned to nobody

[2014-03-07 23:55] #63 closed, assigned to nobody

[2014-03-07 23:55] #57 closed, assigned to nobody

[2014-03-07 23:55] #51 closed, assigned to nobody

[2014-03-08 07:23] sublimator opened #65 "RangeSet impl"

[2014-03-12 23:07] #59 closed, assigned to nobody

[2014-03-18 18:27] #61 closed, assigned to nobody

[2014-03-18 18:35] #52 closed, assigned to nobody

[2014-03-18 18:48] #54 closed, assigned to nobody

[2014-04-16 19:20] lid opened #68 "If remote.connect fails to validate SSL certificate, does not throw an error"
I had a client trying to secure connect to a websockets server. However, the hostname and certificate had a mismatch, which caused the client to repeatedly disconnect and attempt to reconnect. rippled server logs include repeated entries that include this when the client disconnects and reconnects:
[code]

It would better if ripple-lib emitted an error event rather than repeatedly trying to connec

[2014-04-18 23:03] lid opened #70 "Transaction.offerCreate fails to serialize when expiration option given with current date"
See this thread for details: https://ripple.com/forum/viewtopic.php?f=2&t=6529

[2014-04-19 06:11] #70 closed, assigned to nobody

[2014-04-20 05:42] #65 closed, assigned to nobody

[2014-05-01 19:11] emschwartz opened #73 "Seed.get_key method does not use account_id"
https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/seed.js#L86

Seed should use the account_id to determine which key to return

[2014-05-04 11:46] sublimator opened #74 "Ledger verifier doesn't verify account state"
SerializedObject.from_json(ledger_entry) currently isn't implemented

[2014-05-06 09:38] #25 closed, assigned to nobody

[2014-05-06 09:40] #26 closed, assigned to nobody

[2014-05-21 18:20] #74 closed, assigned to nobody

[2014-05-21 18:20] #73 closed, assigned to nobody

[2014-05-22 05:33] sublimator opened #81 "Use VER_ACCOUNT_PRIVATE for remote.set_secret"
Related to #76 #73

There was a recent patch merged, `fixing` Seed.get_key to honor passed account id arguments (finding the KeyPair matching the account id).  Unfortunately this had the side effect of making it impossible to use seeds matching a RegularKey.

Note the following two lines in transaction.js which pass along the tx_json.Account to seed.get_key
* https://github.com/ripple/ripple-lib/b

[2014-05-29 22:30] wltsmrz opened #84 "Vault client tests should run offline"
Vault client tests currently rely on services provisioned by RL. They should run offline.

[2014-05-30 04:44] rook2pawn opened #85 "[Bug] Callback on connect"
https://github.com/ripple/ripple-lib/tree/5b0dd33fa87fd3386ad42bf7ed93adaa1a3e7c2e
Will call the callback on connect

However,

https://github.com/ripple/ripple-lib/tree/bdb299e085b75dcda534d7580588669ba26634c6
will not (which is a newer commit)

Blobvault is dependent on this callback to happen

This is some source code you can try to illustrate

First

[code]

Then try the older version here

[c

[2014-05-30 20:33] #85 closed, assigned to nobody

[2014-06-12 07:12] filod opened #97 "Reconnect issue when mac/chrome wake up"
in `server.js` file:
`this._lastLadgerClose` will not be updated after a long time period sleep.
this may cause `_checkActivity` method be invoked again and again, the page will stay in `offline` state forever util refreshing the page.

[2014-06-12 20:05] #32 closed, assigned to nobody

[2014-06-12 23:04] sublimator opened #100 "Amount.from_json(fractional) (Native Amounts)"
Amount.from_json("1") != Amount.from_json("1.0")

The presence of a `.` means it's parsed as XRP. It's surely a seductive convenience, but it's nasty.

Does rippled accept "1.0" as a native amount string in json? Looks like no: [1]
(https://github.com/ripple/rippled/blob/develop/src/ripple/module/data/protocol/STParsedJSON.cpp#L408) [2](https://github.com/ripple/rippled/blob/develop/src/ripple/mod

[2014-07-18 18:44] codedot opened #121 "request_account_balance() ignores ledger argument"
The `request_account_balance()` interface is routed to `accountRootRequest()`. The latter passes the ledger argument to `ledgerChoose()` function. However, `ledgerChoose()` only uses its argument as a boolean and does not set the desired ledger. This results in getting the balance against the latest ledger instead of a specified one.

As a result, there seems to be no way to request balance and tr

[2014-08-27 21:52] #84 closed, assigned to shekenahglory

[2014-08-27 21:53] #50 closed, assigned to nobody

[2014-09-05 07:19] sublimator opened #160 "Seed from_json using hex is broken"
I'm pretty sure it's never used, but given it's supported in theory, may as well fix it ...

https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/seed.js#L37

parse_hex returns `this`, not the `_value`

[2014-09-06 03:56] #160 closed, assigned to nobody

[2014-09-08 16:43] #97 closed, assigned to nobody

[2014-09-17 19:01] annatonger opened #168 "Placed order at 84,500 XRP per BTC, order shows as 90,909 XRP per BTC"
https://www.youtube.com/watch?v=W_TUu-xkK3E

Placed order to sell 1 XRP @ 84,500 XRP per BTC. Order shows up in books as 90,909 XRP per BTC instead.

Order appears in rippled as the 90,909 amount.

Transaction details: https://ripple.com/tools/info/#/71AC67A0C787804B34A52DEE11CAA8062A233FE59B6CAAFA657A69306DC60DEA

[2014-09-18 03:19] #168 closed, assigned to nobody

[2014-09-25 00:07] annatonger opened #170 "Option for only displaying the ISO code for demurrage and other "special" currencies"
We don't want to display the -.5%pa in Ripple Trade when showing demurraging XAU. Ripple-lib should give Ripple Trade an option to hide the (-.5%pa) and display the ISO code only.

[2014-09-25 00:16] annatonger opened #171 "Ripple-lib should determine which currency is the "correct" one"
Ripple Trade would like to give a currency code and issuer to ripple-lib. Ripple-lib should return the "correct" currency code.

The problem we have is people typing in the wrong currency for GBI demurraging XAU in Ripple Trade. In this case, we need to be able to reset to the correct type of XAU.

[2014-09-26 02:31] geertweening opened #173 "Add validition/conversion check for secrets"
UInt128 is the class that represents a secret (secrets are 16 bytes). UInt128 should offer the functionality for validation/conversion of a base58 encoded and checked string.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4805911-add-validition-conversion-check-for-secrets?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=

[2014-09-26 19:09] geertweening opened #175 "Consolidate Amount.is_valid() and Amount.is_valid_full()"
Existence of both methods is confusing. Either an Amount object is valid, meaning it's JSON representation is accepted by rippled, or it is not valid.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4851756-consolidate-amount-is_valid-and-amount-is_valid_full?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_sour

[2014-10-09 16:32] geertweening opened #183 "Reconsider seed.getKey() functionality"
See comments by @sublimator https://github.com/ripple/ripple-lib/pull/179

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5190785-reconsider-seed-getkey-functionality?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2014-10-09 21:49] #170 closed, assigned to geertweening

[2014-10-16 19:38] annatonger opened #186 "Amount.to_human() precision option should round, rather than truncate, digits"
The function is Amount.to_human() in amount.js. The comments in the code describes how the precision option works:

@param opts.precision {Number} Max. number of digits after decimal point.

Currently, this just truncates the decimal points so 1.259 would become 1.25.

Instead, it should round the decimal point so 1.259 becomes 1.26.

This is currently an issue in Ripple Trade because our decimal

[2014-10-16 21:14] #186 closed, assigned to geertweening

[2014-10-22 20:44] vhpoet opened #189 "Add Transaction.prototype.unseriealize"
I have some transaction objects that I want to keep in user blob, and submit sometime later. The problem is that after the serialization and storing I cannot change the sequence number during the transaction submission, so it would be great to have an unserialize method which returns a transaction object, so I can do the sequence calculations during the submission.

[2014-10-22 20:49] #189 closed, assigned to nobody

[2014-10-23 06:03] professorhantzen opened #190 "rsign.js usage example incorrect & uncaught transaction error"
If the usage example is copied and pasted verbatim, a two-error cascade is the result:

1) "Invalid JSON" (because the required apostrophes around the JSON are not present).

Then, if that's addressed:

2) "Missing field: SigningPubKey"

[2014-10-26 22:42] #121 closed, assigned to nobody

[2014-10-26 23:10] #190 closed, assigned to geertweening

[2014-10-29 10:00] tuloski opened #196 "book_offer doesn't support limit field"
The remote request book_offer doesn't support "limit" field as in standard websocket requests.
It is a very useful feature that lowers the work for the server and reduces wait time of that call, so it should be supported.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/5627219-book_offer-doesn-t-support-limit-field?utm_campaign=plu

[2014-10-29 10:05] tuloski opened #197 "Inconsistency of fields"
In some remote calls, the fields are different from fields in JSON messages of websocket request.
One example: in OfferCreate, the field "OfferSequence" is called "cancel_sequence".

The main problem is that documentation about ripple-lib is missing, so it would be easier for developers if the fields are aligned with websocket API fields (which are more rich in terms of documentation).

<bountysou

[2014-11-06 00:42] #171 closed, assigned to nobody

[2014-11-09 11:20] tuloski opened #204 "remote.book.on('model') not pushing last offer correctly"
When subscribing to orderbooks with 'model' event, the last offer created is not pushed correctly to the _offers array. In particular it misses some filds like: 'quality', 'bboknode', 'flags' , 'ledgerentrytype' and others.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/5870869-remote-book-on-model-not-pushing-last-offer-correctly

[2014-11-28 19:23] ThePiachu opened #216 "MSB3411 error during npm install"
When I tried installing the lib with

npm install ripple-lib

I got an error MSB3411 (https://github.com/rwaldron/johnny-five/issues/145). A fix for this problem is to use a command:

npm install ripple-lib --msvs_version=2012

It might be worthwhile to put a note next to the installation instructions about this solution perhaps?

<bountysource-plugin>

---
Want to back this issue? **[Place a boun

[2014-12-01 06:19] sublimator opened #218 "Signing Inefficiences"
On my local machine I can sign only about 25 transactions a second. A lot of the work is in deriving the KeyPair from the Seed, which is thrown away every time.  In fact we derive the pair twice, once in complete(), for the SigningPubKey, and once in sign() for TxnSignature.

Caching the KeyPair really shows benefits over the course of signing 1000 transactions. It speeds things up by a factor of

[2014-12-12 13:44] MarkusTeufelberger opened #226 "Transactions should consider SigningPubKey, not only "Account""
See https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/transaction.js#L459

Unfortunately there is no "key.from_hex()" function, otherwise the fix would be easier.

All in all Ripple-Lib seems to be of the (wrong!) impression that transactions are only going to be signed by the private key whose hash matches the account address. This is also why it is not possible atm. to sign Regular

[2014-12-19 22:59] vhpoet opened #232 "Cannot read property '_reserve' of null"
Checking our mixpanel logs, and under unknown circumstances the client logs this exception. Already happened 431 times this month compared to last months 9 times.

Note: RT doesn't have any direct call to anything ._reserve.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7148062-cannot-read-property-_reserve-of-null?utm_campaign=p

[2014-12-28 17:05] lukapusic opened #243 "Signing with regular key using rsign.js"
I receive the following error when I try to sign a transaction using rsign.js and a regular key instead of the master secret key. Am I doing something wrong, or is signing with the regular key broken? Is this related to a recent fix of #190 and changes to rsign.js?

[Error: Too many loops looking for KeyPair yielding *address* from *secret*

<bountysource-plugin>
---
Want to back this issue? **[Po

[2015-01-11 10:57] sublimator opened #250 "Memos Broken"
People using ripple-lib to recalculate transaction tree hashes have been out of luck.

Seems like the memo json parser is [broken](https://github.com/ripple/ripple-lib/commit/1704ac4ae144c0ce54afad86f644c75a632080b1), and is misinterpreting rippled's hex as if it were utf8.  i.e. `FF` as two bytes, rather than one.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](http

[2015-01-14 14:50] devanp92 opened #251 "Consolidate remote.requestAccountInfo() and account.getInfo()"
Having both methods is confusing and they produce the same result. (DRY)

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7756655-consolidate-remote-requestaccountinfo-and-account-getinfo?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2015-01-14 23:43] wltsmrz commented on #251
They are already adequately consolidated https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/account.js#L135. Account.getInfo() is a tolerable convenience method that calls Remote.requestAccountInfo().

[2015-01-14 23:43] #251 closed

[2015-01-15 01:06] vhpoet opened #256 "_handleResponseSubscribe issue"
As discussed with @wltsmrz

![screenshot 2015-01-14 16 40 38](https://cloud.githubusercontent.com/assets/686185/5750889/dea126ea-9c0f-11e4-8130-3f16b1c20923.png)

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7774494-_handleresponsesubscribe-issue?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties

[2015-01-15 01:26] wltsmrz commented on #256
https://github.com/ripple/ripple-lib/pull/257

[2015-01-15 01:26] wltsmrz commented on #256
There may also be a problem with .reconnect(). To be investigated later

[2015-01-15 02:06] #68 closed

[2015-01-15 02:07] #196 closed

[2015-01-15 02:07] wltsmrz commented on #196
This was added

[2015-01-15 02:08] #256 closed

[2015-01-22 06:54] sublimator commented on #243
I think a patch fixing the situation would likely be accepted

[2015-01-28 19:38] vhpoet opened #270 "requestAccountTx produces different results depending on 'binary' value"
Request 1
[code]
Response
[code]

Request 2
[code]

Response
[code]

As you can see the second request is missing the "date", "inLedger" and "ledger_index" fields.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/8107840-remote-requestaccounttx-produces-different-results-depending-on-binary-value?utm_campaign=plugin&utm_content=trac

[2015-01-28 20:30] wltsmrz commented on #270
`ledger_index` and `inLedger` should be present in ripple-lib's binary account_tx response. `date` will not be present until (and if) it's provided by rippled, as it would require ripple-lib to map over each transaction and query ledgers for their close_time. Since this makes the ripple-lib response slower and more unpredictable than non-binary--even with parallel requests--and surely is more expe

[2015-01-28 20:30] #270 closed

[2015-02-02 21:41] vhpoet commented on #232
Will reopen if I notice it again.

[2015-02-02 21:41] #232 closed

[2015-02-02 21:46] #204 closed

[2015-02-05 08:58] wltsmrz commented on #216
One of our developers was unable to get the install to work with this flag. Windows is an entirely untested environment. We should probably add a note somewhere about this, if there isn't a note already. Thanks

[2015-02-05 08:58] #216 closed

[2015-02-06 22:52] geertweening commented on #250
fixed in https://github.com/ripple/ripple-lib/pull/277

[2015-02-07 18:28] geertweening commented on #250
https://github.com/ripple/ripple-lib/pull/277 has been merged

[2015-02-07 18:28] #250 closed

[2015-02-10 15:07] kureus opened #280 "Orderbook emits trade events with gets & pays params which have no value"
Orderbook.js only emits 'trade' in once place, inside the handleNode function, and is conditional based upon a tradeGets.is_zero() false check

https://github.com/ripple/ripple-lib/blob/develop/src/js/ripple/orderbook.js#L1144

This check does not preclude many events, with both gets and pays, having the value

{ _value: NaN,
  _offset: 0,
  _is_native: true,
  _is_negative: false,
  _currency: {

[2015-02-16 15:44] MarkusTeufelberger commented on #226
It's been two months now and this relative basic functionality of Ripple still is not supported by ripple-lib.

How do you guys plan to resolve this? As I wrote, an easy hack would be probably doable in a couple lines, a more elegant solution would require certain design decisions that I can't make from the outside (and there's not much coming feedback wise from you guys on the inside). Any update

[2015-02-16 18:58] vinniefalco commented on #226
How are accounts using the ed25519 signature affected by this? How will they be affected if the proposed changes are made?

[2015-02-16 20:31] MarkusTeufelberger commented on #226
No idea what you mean, I'm talking about signing transactions with a RegularKey instead of only being able to sign it with the private key that fits the account address. My guess is that if you roll out additional valid ways/algos to sign transactions, this will have to happen too using the SigningPubKey field, especially for the existing accounts (as currently only the account address serves as v

[2015-02-17 23:05] tuloski opened #284 "Error not handled"
I usually have this kind of error when using Ripple-lib:

events.js:72
        throw er; // Unhandled 'error' event
              ^
RippleError: Unexpected response from remote

90% of the times, it happens when submitting a transaction and the fees are too high for my maximum, so it reports a "tejMaxFeeExceeded". But sometimes it happened with "tejMaxLedger".

<bountysource-plugin>
---
Want to ba

[2015-02-18 04:16] wltsmrz commented on #284
Do you have the full stack trace? Are you submitting the transaction without a callback by chance?

[2015-02-18 17:53] tuloski commented on #284
This is all I have:
{"result":"tejMaxFeeExceeded","result_message":"Error","engine_result":"tejMaxFeeExceeded","engine_result_message":"Error","message":"Error"}

events.js:74
        throw TypeError('Uncaught, unspecified "error" event.');
              ^
TypeError: Uncaught, unspecified "error" event.
    at TypeError (<anonymous>)
    at Transaction.EventEmitter.emit (events.js:74:15)
    at Tr

[2015-02-18 18:02] tuloski commented on #284
When normally I have a "tejMaxFeeExceeded" without unhandled error I have the full answer as:

Report error: {"result":"tejMaxFeeExceeded","result_message":"Max fee exceeded","engine_result":"tejMaxFeeExceeded","engine_result_message":"Max fee exceeded","message":"Max fee exceeded","tx_json":{"Flags":0,"TransactionType":"OfferCreate","Account":"XXX","TakerPays":XXX,"TakerGets":XXX,"OfferSequence":

[2015-02-19 10:20] tuloski commented on #284
It seems the error doesn't pass this test: https://github.com/ripple/ripple-lib/blob/fc38a9853d33312302cfb58436e2d9d9bd623fa3/src/js/ripple/remote.js#L519 (ripplerm found this)

[2015-03-05 12:58] emoitzi opened #300 "Adding a event listener to Account and Remote shouldn't trigger automatic subscription"
Both classes issue subscribe requests when listeners to certain events are added.
I believe a average developer wouldn't expect such a behavior, and thus it should be removed.

Also creating an Account triggers this behavior, because the constructor automatically adds a 'transaction' listener. IMHO this should be removed as well.

Plus I can guarantee that this functionality is not used by anyone,

[2015-03-05 19:28] wltsmrz commented on #300
I kind of agree. It's been discussed before but we didn't have compelling reason to change. Thanks for your input on the API. To be clear, you're suggesting a separate `.subscribe()` method and getting rid of automatic subscription/unsubscription via added/removed event listeners, right?

I can guarantee that it is! [under_score and camelCase methods work with Remote, Request, etc.](https://github

[2015-03-05 20:14] emoitzi commented on #300
Right.

Oh, I overlooked that piece. Looks like your guarantee supersedes mine. :innocent:

[2015-03-09 07:54] weitaolee commented on #284
nodejs version 0.12.0 :I use ripple-lib never other error like tejMaxFeeExceeded or tejMaxLedger, only a error like this .
events.js:85
      throw er; // Unhandled 'error' event
            ^
Error: read ECONNRESET
    at exports._errnoException (util.js:746:11)
    at TCP.onread (net.js:550:26)

 I see ws.onerror has a listener.  so I do not know where has this unhandled error.
https://github.co

[2015-03-12 16:37] ripplerm commented on #226
a fix suggestion: https://github.com/ripple/ripple-lib/pull/306

[2015-03-12 16:38] ripplerm commented on #243
a fix suggestion: https://github.com/ripple/ripple-lib/pull/306

[2015-03-13 03:01] wltsmrz opened #307 "Vague Remote errors on invalid message"
https://github.com/ripple/ripple-lib/blob/25bb9c7320b801816df28e95ad26c6fb2f27c9cb/src/js/ripple/remote.js#L521-L526

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9503656-vague-remote-errors-on-invalid-message?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2015-03-16 21:18] njmurarka opened #308 "Link on readme is broken"
The link to get ripple-lib.

https://github.com/ripple/ripple-lib/blob/develop/docs/GUIDES.md

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9634967-link-on-readme-is-broken?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_

[2015-03-24 18:04] #308 closed

[2015-04-09 00:22] Ossip opened #323 "requestAccountTx missing dates"
hi,
the transactions in remote.requestAccountTx() don't include the 'date' when
binary is kept as true (default). With binary=false it works.
It took me a moment to find it, so I suggest documenting this somewhere if it can't be added easily?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10748234-requestaccounttx-missing-dates?utm_

[2015-04-16 17:33] wltsmrz commented on #307
https://github.com/ripple/ripple-lib/pull/328

[2015-05-01 12:30] kureus opened #336 "Orderbook unhandled null comparison exception"
ripple-lib version - 0.12.2

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12709124-orderbook-unhandled-null-comparison-exception?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%

[2015-05-01 17:23] boxbag commented on #336
what are the taker gets and taker pays currencies?

[2015-05-01 17:34] kureus commented on #336
USD.Bitstamp/USD.Snapswap

[2015-05-13 15:21] tuloski opened #341 "Ordedbook support for synthetic offers"
ENHANCEMENT
Orderbooks requests should support the upcoming autobridge.
For example returning the orderbook filled with standard IOU:IOU offers plus synthetic offers.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14668413-ordedbook-support-for-synthetic-offers?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_s

[2015-05-13 16:03] lumberj commented on #341
See the latest release candidate: https://github.com/ripple/ripple-lib/releases/tag/0.12.5-rc2

[2015-05-14 07:35] tuloski commented on #341
Perfect :) thanks

[2015-05-14 07:49] #341 closed

[2015-05-20 07:17] sublimator opened #346 "sjcl-custom linting on Travis"
If we keep sjcl at all, the custom stuff will likely be pushed towards getting merged into sjcl.

We probably want to use the es5 style guide settings?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16120790-sjcl-custom-linting-on-travis?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accep

[2015-05-20 10:04] tuloski opened #347 "OwnerFunds for an offer of issuer fails"
Hello,
I was using the stream for an orderbook ('model' event handle), and when the issuer generates an offer for its own currency this happens:

assert.js:86
  throw new assert.AssertionError({
        ^
AssertionError: Funded amount is invalid
    at OrderBook.setOwnerFunds (C:\Users\michele\node_modules\ripple-lib\src\js\
ripple\orderbook.js:351:3)
    at handleNode (C:\Users\michele\node_modul

[2015-05-20 10:40] tuloski commented on #347
Everything is fine if the subscription starts after the offer is already in ledger but the owner_funds are obviously wrong since the issuer has 0 funds and the value returned is positive (don't know how is calculated).

[2015-05-20 16:52] clark800 commented on #346
You can do `/* eslint-disable no-var, no-param-reassign */` in the sjcl-custom files to allow es5 syntax.

[2015-05-20 16:52] #346 closed

[2015-05-21 01:46] sublimator commented on #346
Is there also a way to make it cry if I use `let` or `const` or whatever other es6 feature?

[2015-05-21 16:38] clark800 commented on #346
There is if you setup the config file using the es6 environment. It looks like it might be cleaner anyways: https://github.com/eslint/eslint/issues/2072

[2015-05-27 08:14] gilduz opened #352 "AssertionError: Offer total cannot be negative"
Hello everyone,

I'm trying to receive offers updates for n markets using this code

[code]

When i send the requests I've got this warning:

_[2015-05-23T15:11:31.183Z] remote: DEPRECATED: First argument to request constructor should be an object containing request properties -- at Remote.book.Remote.createOrderBook (/Users/myName/Dropbox/Ripple/node_modules/ripple-lib/src/js/ripple/remote.js:202

[2015-05-27 19:03] clark800 commented on #352
I was able to reproduce this bug with the following code running on the HEAD of develop after fixing another bug.

Prerequisite bugfix:
https://github.com/ripple/ripple-lib/pull/353

Code to reproduce:
https://gist.github.com/clark800/f5e095a7f5e86b242193

Output with trace enabled:
https://gist.github.com/clark800/265e01d057bf751c38c9

It took about 20 minutes for the error to appear. I haven't f

[2015-05-28 15:22] gilduz commented on #352
Yes, same problem here, after 20 minutes more or less the error appears

[2015-06-03 02:25] #307 closed

[2015-06-12 08:11] sublimator opened #367 "dist/npm missing schemas (and other babel compile woes)"
Few issues:
* es6 runtime patches (like String.prototype.endsWith) seem to be missing
* npm compile before each script run is slow

When you try to run `npm run-script perf` it errors, when it can't find the `schemas/` folder. On top of that, if it's there (I sym linked it), there's another error due to a missing endsWith function. I looked that up, and it's apparently a String method only added i

[2015-06-12 23:45] clark800 commented on #367
So I just learned that babel doesn't transpile all es6 features in `runtime` mode unless you additionally require the polyfill. This seems to contradict the documentation, so I filed an issue with Babel on GitHub. In the meantime, I just wrote a function for `endsWith` and fixed the perf test in this pull request: https://github.com/ripple/ripple-lib/pull/370

We can't use babel-node or the babel

[2015-06-12 23:45] #367 closed

[2015-06-13 01:29] sublimator commented on #367
What about the missing `schemas` folder ?

[2015-06-13 01:31] sublimator commented on #367
nvm, I see it in the commit :)

[2015-06-13 13:58] tuloski opened #371 "Orderbooks doesn't get all the offers"
Hello everybody.
I'm subscribing to some orderbooks with the 'model' event and as far as I understood the orderbook object should gather all the actual offers on the orderbook (snapshot) and keep it updated as soon as new offers arrive.
But it seems to me that not all the offers are collected. I noticed this because I subscribed to some of the most liquid markets (as XRP:USD.snapswap, XRP:USD.bits

[2015-06-19 01:19] lieefu opened #376 "Orderbook emits trade events with OfferCancel transaction data too!"
It seems to these code not work.
const isOfferCancel =
    transaction.transaction.TransactionType === 'OfferCancel';
  const transactionOwnerFunds = transaction.transaction.owner_funds;

  function handleNode(node) {
    switch (node.nodeType) {
      case 'DeletedNode':
        self.deleteOffer(node, isOfferCancel);

        // We don't want to count an OfferCancel as a trade
        if (!isOffe

[2015-06-23 18:25] clark800 commented on #376
I see that all the code you posted is from orderbook.js: Orderbook.prototype.notify. Can you clarify what the problem is? It might help if you provide code that reproduces the problem.

[2015-07-02 11:24] sublimator opened #395 "eslint / flow integration issues"
eg.
[code]

Why do we need to use `esprima-fb` ? Something to do with flow? I saw on the #384 pull request a change to use the `babel-eslint` parser.

@wltsmrz  says:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23525189-eslint-flow-integration-issues?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_so

[2015-07-03 12:15] sublimator commented on #395
See https://circleci.com/gh/ripple/ripple-lib/217

[code]

[2015-07-03 12:39] sublimator commented on #395
I don't think babel-eslint is quite working as intended

[2015-07-06 17:15] clark800 commented on #395
The issue above is that babel-eslint doesn't understand flow's comment syntax. One way to address this is to inline the type annotations, though there is probably a better option.

[2015-07-07 18:30] mwshortt commented on #371
Hello! I'm working on reproducing this issue, could you share the code that's causing this problem with me?

[2015-07-07 19:47] tuloski commented on #371
Hello,
this is the code (more or less):

function requestAllBooks(markets, remote) {
    for (var i = 0; i < markets.length; i++) {
        for (var j = 0; j < markets.length; j++) {
            if (i!=j) {
                var book = remote.createOrderBook({
                    currency_gets: markets[i].currency,
                    issuer_gets: markets[i].issuer,
                    currency_pays

[2015-07-20 21:41] clark800 commented on #371
The order book only shows 300 orders because that is the maximum number that can be obtained from public rippled servers. If you run your own rippled server then you can get more results. Also, there is a ticket which will allow getting all the orders from rippled, but it is not currently prioritized, so it may not be addressed anytime soon: https://ripplelabs.atlassian.net/browse/RIPD-817.

Regar

[2015-07-20 21:41] #371 closed

[2015-07-30 08:57] sublimator opened #468 "Seed.parse_json looseness"
After a recent patch, basically any string with length >= 1 is now parsed as a valid secret (Seed), whereas before at least any string starting with an `s` was parsed as base58 and if it wasn't valid, that was the final judgement.

In transaction-test.js, some tests now pass for different reasons than it seems like was intended. Specifically, before an `error` was emitted on the transaction object

[2015-07-30 08:59] sublimator commented on #468
See: https://github.com/ripple/ripple-lib/blob/develop/test/transaction-test.js#L458-L477

[2015-07-30 18:00] clark800 commented on #468
Isn't the problem that `parse_json` basically accepts three different encodings? Is there anything reasonable we can do without breaking backwards compatibility?

[2015-07-30 22:48] sublimator commented on #468
2 encodings plus 1 whatever you wanna call passphrase parsing, which sha512
hashes the string and takes first 128bits.

The way it is now makes a mockery of the base58 checksum encoding
properties.

I'm not sure the ultimate answer (just base58 / hex probably - and break
back compat). I'd probably restore the any string starting with 's' parsed
only as base58 in the mean time though.

[2015-07-31 02:00] #395 closed

[2015-07-31 02:00] #352 closed

[2015-08-01 02:14] sublimator opened #475 "circle build badge"
we are currently displaying the travis one

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25238275-circle-build-badge?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=

[2015-08-04 01:33] #475 closed

[2015-08-06 13:30] tuloski opened #485 "No longer supported .request('request',fields) ???"
I recently move to a new machine and updated my ripple-lib, but it seems that the remote request in the form remote.request('request',fields) are not supported anymore.

Example that is NOT working:
[code]

Example that IS WORKING:
[code]

The first one does not trow an error, it just never "answer".
So is now only supported the 2nd version?

PS: please write some documentation. It was already har

[2015-08-06 13:54] tuloski opened #486 "Sequence is now only Int32"
Again, with new ripple-lib the "sequence" filed is now requested as Int32 instead of string....please write the documentation. You cannot screw all the work, it should be backward compatible or at least write it somewhere visible.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25440419-sequence-is-now-only-int32?utm_campaign=plugin&

[2015-08-06 15:51] kureus commented on #485
What version did it previously work on? And what version have you upgraded too?

[2015-08-06 16:01] tuloski commented on #485
I upgraded to the latest release with npm.
I don't know the last working version, is it written somewhere? I still have the node_module folder.

[2015-08-06 16:13] kureus commented on #485
Latest release on npm is 0.12.6, the last working version on your old machine will be in your package.json file

[2015-08-06 16:30] tuloski commented on #485
Yeah, I have actually 0.12.6 and the old one is 0.11.0-rc3

[2015-08-06 16:45] kureus commented on #485
You can see the change in the release notes, its the first change noted here https://github.com/ripple/ripple-lib/releases/tag/0.12.0

[2015-08-06 17:23] clark800 commented on #485
According to semver.org: "Major version zero (0.y.z) is for initial development. Anything may change at any time. The public API should not be considered stable."

We try to bump the first non-zero version component for breaking changes and document them in the release notes.

Also note that the current API is being deprecated and replaced with a new RippleAPI that should be simpler and better doc

[2015-08-06 17:27] #485 closed

[2015-08-06 17:36] tuloski commented on #347
I've seen in release note that you corrected this.

It can be closed this issue.

[2015-08-06 17:37] clark800 commented on #347
Ok thanks, were you able to confirm that it works?

[2015-08-06 17:39] clark800 commented on #486
See: https://github.com/ripple/ripple-lib/issues/485#issuecomment-128450140

[2015-08-06 17:39] #486 closed

[2015-08-06 18:50] kureus commented on #485
@clark800 From what I can see in the develop branches of ripple lib, the current ripple-lib has been moved off into core and the deprecated restful client (https://github.com/ripple/ripple-rest-client) essentially brought into the new api directory. Before it seemed developers had a straightforward choice, choose the restful client if you're happy to make calls at given intervals or on observed ev

[2015-08-06 19:20] #347 closed

[2015-08-06 21:41] tuloski opened #488 "websocket error"
Sorry guys if I spam issues. But this happened 3 times today in 3-4 hours.

[code]
Tomorrow I need to leave some programs for 15 days but they crash because of this after a few hours :(

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25456616-websocket-error?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_sourc

[2015-08-08 17:10] #100 closed

[2015-08-11 18:27] clark800 commented on #485
The idea is to simplify and improve the interface to the Ripple network. The roadmap is to transition active projects to the new RippleAPI from the current ripple-lib API. Here are the slides from a seminar I led recently: https://www.dropbox.com/s/q5p6gae98d2th4a/RippleAPI.pdf?dl=0

[2015-08-13 11:59] kureus commented on #485
@clark800 Chris, thank you for posting this link. Much appreciated. Are there any developer evangelists at ripple labs?

[2015-08-13 17:47] clark800 commented on #485
@kureus Yes, you can get in touch through support@ripple.com

[2015-08-15 09:52] tuloski commented on #485
Thank you for the slides.

I'll take a look at it soon and maybe I'll ask something ;)

________________________________
Da: Chris Clark <notifications@github.com>
Inviato: giovedì 13 agosto 2015 19.47
A: ripple/ripple-lib
Cc: Michele Furci
Oggetto: Re: [ripple-lib] No longer supported .request('request',fields) ??? (#485)

@kureus<https://github.com/kureus> Yes, you can get in touch through suppo

[2015-08-17 06:45] sublimator opened #507 "Use codecov instead of coveralls"
Has nice github integration via a chrome extension:

https://codecov.io/guide#node

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25847356-use-codecov-instead-of-coveralls?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_ca

[2015-08-17 16:43] vhpoet opened #508 "Ripple Address check"
This should fail
[code]

`d4704546ca7432f24679849266ae53b70185d23c` is not a ripple address.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25867271-ripple-address-check?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_camp

[2015-08-17 20:44] sublimator commented on #508
It's 20 bytes as hex, and when encoded it's: `rL4Gk4HDr9AH2reogMbgQaE2cMYxvCUy23`

A real account: https://wisepass.com/ripple/rL4Gk4HDr9AH2reogMbgQaE2cMYxvCUy23

I think it's because UInt160 is used to parse `TakerGetsIssuer` etc  where hex is used.

I guess payment() could be updated to force usage of base58 encoded addresses or a UInt160 ?

How did this bite you?

[2015-08-17 22:13] clark800 commented on #508
@vhpoet This seems to be intended behavior, so I'm not sure if it's a good idea to change it: https://github.com/ripple/ripple-lib/blob/develop/src/core/uint160.js#L54

Should we close this?

[2015-08-18 18:46] #376 closed

[2015-08-19 13:53] crazyquark commented on #284
I increased my max ledger sequence to avoid this:
after a transaction = remote.createTransaction
I do:
transaction.lastLedger(remote.getLedgerSequence() + 10);

[2015-08-23 22:39] tuloski opened #523 "Uncaught error: tejMaxFeeExceeded"
Sometimes it happens an uncaught error with transaction fee exceeded but not always. I noticed from the error of the transaction that when the error happens there is a different tej message.
Below the error that doesn't cause the uncaught event:

[code]

Below the error that triggers the uncaught event, and the stack trace:
[code]

Maybe the fault is of rippled that returns a strange tej message.

[2015-08-24 17:14] lumberj commented on #523
What version are you running?

[2015-08-24 17:20] tuloski commented on #523
Latest release taken from npm.

[2015-08-24 17:27] vhpoet commented on #508
@clark800 ok, let's close this for now.

[2015-08-24 17:27] #508 closed

[2015-08-24 17:29] clark800 commented on #523
To debug this, we would probably have to be able to reproduce it. Can you provide a complete program that reproduces the issue?

It looks like the error is coming from this line: https://github.com/ripple/ripple-lib/blob/develop/src/core/transactionmanager.js#L201

I'm not sure what the API usage is supposed to be here because it doesn't seem to be documented, but maybe you just have to add a list

[2015-08-24 18:51] tuloski commented on #523
I think there is already an error event listened on Transaction.
The strange thing is that (see above the first post) when there is no uncaught event, the transaction error reports: "result_message":"Max fee exceeded", while when the uncaught event happens the transaction error reports: "result_message":"Error".
Unfortunately I'm not a JS experts and events and callbacks are hard for me to underst

[2015-08-24 18:57] clark800 commented on #523
Have you tried adding this?
[code]

[2015-08-26 18:13] tuloski commented on #523
@clark800 : It seems that with the listener you wrote it doesn't crash. Even in the case that the reported error from the transaction is the bad one.

[2015-08-27 14:56] mesca opened #532 "Browser build: Cannot find module "net""
The current version of ripple-lib, when built for browser, returns the following error: `Cannot find module "net"`.
Additionally, the `ripple.sjcl` is not exposed anymore. Any reason for this?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26244495-browser-build-cannot-find-module-net?utm_campaign=plugin&utm_content=tracker%2F323756

[2015-08-27 17:31] clark800 commented on #532
The current version of ripple-lib (0.12.6) does expose `sjcl`. What version are you using?

[2015-08-27 17:36] mesca commented on #532
The latest from the develop branch (0.13.0-rc6).

[2015-08-27 17:40] clark800 commented on #532
That's a beta version of the next release, which no longer uses sjcl and has a new API, see the release notes in HISTORY.md.

I'll look into: `Cannot find module "net"`

[2015-08-27 17:59] mesca commented on #532
Thanks. I just built 0.12.6 and it now works as expected.

[2015-09-10 04:05] wltsmrz opened #544 "Account auto-subscription missing error handler"
https://github.com/ripple/ripple-lib/blob/9ad03ca873a657bdb44ca94e0ec93427895e76a9/src/core/account.js#L47-L49

 Uncaught Error: Uncaught, unspecified "error" event

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26576095-account-auto-subscription-missing-error-handler?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medi

[2015-09-11 21:06] mesca commented on #532
Fixed in 0.13.0-rc8 with [#533](https://github.com/ripple/ripple-lib/pull/533).

[2015-09-11 21:06] #532 closed

[2015-10-01 01:27] FrRichard opened #573 "Remote.orderbook working for only one side with XRP/currency pairs"
I get the orderbook for the bid side, no problem but when I try to get the ask side I receive nothing , any idea what I'm doing wrong ?

var options_bid = {
				currency_pays: "XRP",
				// issuer_pays: null,
				currency_gets: "USD",
				issuer_gets: "rMwjYedjc7qqtKYVLiAccJSmCwih4LnE2q"
}

                       var mybook_bid = remote.book(options_bid);

Not working with parameters reversed to g

[2015-10-01 14:17] FrRichard commented on #573
I tried an old versio 0.9.4 ===> sent me wrong orderbook results (bad parsing apparently)
I tried the last version 0.12.8 ==> I couldn't subscribe to XRP/iou (but iou/XRP would work, BTC/USD and USD/BTC were fine (iou/iou))
I tried the last night version 0.12.9 ===> same problem

I manually installed the 0.12.6 (which is working for ripplecharts) AND IT WORKED !!!

So there is really something wro

[2015-10-15 23:19] wltsmrz commented on #323
This could be done perhaps more efficiently at a lower level, but it looks like all transactions should have a date with the new API https://github.com/ripple/ripple-lib/blob/5ac2576fcf00a94358a574c299761a7a38f90bd1/src/api/ledger/transaction.js#L18-L39

[2015-10-15 23:19] #323 closed

[2015-10-17 17:28] tuloski opened #602 "How to get autobridged orderbooks?"
I see that orderbook object has everything to build the list of autobridged offers, but how can I have a screenshot of them?
Because with remote.requestBookOffers I get only the non-autobridged.

PS: using 0.12.6

[2015-10-18 11:36] tuloski commented on #523
Hey guys,

I have a simple question for ripple-lib that I didn't manage to make it works.

How to get a screenshot of an autobridged orderbook?

I've seen that the orderbook object has everything to build the autobridged offers, but there are too many callback I can't follow where and whether the mergedOffers are returned.

With remote.requestBookOffers I get only the non-bridged ones.

I'm using

[2015-10-21 21:34] tuloski opened #607 "Assertion error orderbook.js"
I got this assertion error in the orderbook object:

assert.js:92
  throw new assert.AssertionError({
        ^
AssertionError: Offer total cannot be negative
    at OrderBook.subtractOwnerOfferTotal (/home/odroid/node_modules/ripple-lib/dist/npm/orderbook.js:563:3)
    at OrderBook.deleteOffer (/home/odroid/node_modules/ripple-lib/dist/npm/orderbook.js:985:12)
    at handleNode (/home/odroid/node

[2015-10-27 20:20] #468 closed

[2015-10-27 20:20] #243 closed

[2015-10-27 20:20] #183 closed

[2015-10-28 14:01] #175 closed

[2015-10-28 14:01] #81 closed

[2015-10-28 14:01] #173 closed

[2015-10-28 14:02] #197 closed

[2015-10-28 14:02] #218 closed

[2015-10-28 14:02] #226 closed

[2015-10-28 14:02] #280 closed

[2015-10-28 14:02] #284 closed

[2015-10-28 14:02] #336 closed

[2015-10-28 14:03] #488 closed

[2015-10-28 14:03] #507 closed

[2015-10-28 14:03] #607 closed

[2015-10-28 14:04] #602 closed

[2015-10-28 14:04] #573 closed

[2015-10-28 14:04] #544 closed

[2015-10-28 14:04] #523 closed

[2015-10-28 14:04] #300 closed

[2015-10-28 14:41] charnasol opened #617 "getting 404 server response"
We have installed and have the ripple system up. However after customizing, on the sign up and login links we get a 404 documents/file/link not found on our server return. We would like help on this as we would like to launch our ripple asap. Thank you!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27767725-getting-404-server-respo

[2015-10-28 19:55] clark800 commented on #617
Please redirect inquiries to support@ripple.com

[2015-10-28 19:55] #617 closed

[2015-10-28 20:02] charnasol commented on #617
They directed me here

James McEvoy
CEO

[2015-10-28 20:06] clark800 commented on #617
They must have made a mistake since this issue is not related to ripple-lib. I spoke with Julian Martinez of Technical Services and he suggests raising the question on the forum: https://forum.ripple.com/

[2015-11-08 14:47] matejr opened #626 "rsign.js and decode_binary.js are missing in develop branch"
Are you planning to include them in ripple-lib-extensions repository?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28071753-rsign-js-and-decode_binary-js-are-missing-in-develop-branch?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2015-11-09 18:22] clark800 commented on #626
No, they are obsolete and have been deleted. You can use `RippleAPI.sign` in `ripple-lib` and `encode`/`decode` in the `ripple-binary-codec` package instead.

[2015-11-09 18:22] #626 closed

[2015-11-20 00:30] mrajvanshy opened #637 "Extract Orderbook class to ripple-lib-extensions [$2,597]"
Including autobridging code

<bountysource-plugin>
---
There is a **[$2,597 open bounty](https://www.bountysource.com/issues/28426912-extract-orderbook-class-to-ripple-lib-extensions?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F323756

[2015-11-20 00:39] #637 closed

[2015-12-14 15:31] Kekec852 opened #673 "Running rippled and using ripple-lib"
Hi,

i have found an pickle running ripple-lib with my rippled server (server is at: `0.30.1-b10`).

rippled: `0.30.1-b10` build from develop branch today
ripple-lib: `0.16.2`
nodejs: `4.2.3`
npm: `2.14.7`

I'm using following code to connect:
[code]
When i connect to my server i receive this message but not every time:
[code]

When i connect to public ripple server everything is working every tim

[2015-12-14 19:31] clark800 commented on #673
Thanks, should be fixed by this (not yet released to npm): https://github.com/ripple/ripple-lib/pull/675

[2015-12-14 19:31] #673 closed

[2015-12-15 15:20] Kekec852 commented on #673
This pull-request fixes the TypeError, but now different problem, that probably has same cause that lead to discovery of TypeError.

For unknown reason (a least for me) my ripple server is returning empty leader version.

Wish me a luck at finding miss configuration :P

[2015-12-15 15:47] Kekec852 commented on #673
Found it ... it helps if you add `[validators]` to rippled.cfg :smile:

[2015-12-16 07:44] zolekm opened #676 "Uncaught Error: Cannot find module "JSONStream""
Hi,
I use ripple lib version 0.16.2

When run application in browser i get this error Uncaught Error: Cannot find module "JSONStream"

Is there something i'm missing?

Best regards,
Matija

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29166822-uncaught-error-cannot-find-module-jsonstream?utm_campaign=plugin&utm_content=tracker%2F32

[2015-12-16 18:19] clark800 commented on #676
ripple-lib no longer supports running in browsers, only NodeJS. We would likely accept pull requests to make it work in browsers, but as there is no browser testing in place, it may break again in the future unless the pull request also adds browser testing.

[2015-12-16 18:19] #676 closed

[2016-01-06 22:36] mDuo13 opened #683 "documentation for MaxLedgerVersion doesn't mention "null" option"
You can specify "null" for `MaxLedgerVersion` in tx instructions to explicitly exclude the `LastLedgerSequence` parameter from the prepared transaction. (For example, if you're going to prepare/sign a transaction and keep it on hold indefinitely.) However, this option is not documented. It should be.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2016-01-06 22:39] clark800 commented on #683
It appears to be documented, where specifically is it missing?

[2016-01-06 22:43] mDuo13 commented on #683
Ah. >"< It's not on https://ripple.com/build/rippleapi/ which appears to be partly my fault. That documentation has not been updated to reflect additional releases of ripple-lib.

That's a problem with our release process, not the documentation.

[2016-01-06 22:43] #683 closed

[2016-01-06 23:09] mDuo13 opened #684 "Boilerplate code doesn't work"
Specifically this version of the boilerplate code, which is included in the latest docs:

[code]

When I try to use this code, the script fails out with the following message:
[code]

If I remove the api.on("error"...) stanza, the code works as expected. I'm not sure who added that code to the boilerplate, but it seems to have broken it, at least in my experience.

<bountysource-plugin>
---
Want t

[2016-01-07 00:01] mDuo13 commented on #684
Strangely, this error seems to have stopped happening. I can't explain it.

[2016-01-11 08:23] sublimator opened #685 "Connection woes"
connect() currently doesn't seem to poll with any kind of decay if a server isn't ready, nor does it reject(), which means a user will have to implement this themselves.

I noticed this when porting the rippled integration tests to use the latest version of ripple-lib, where the server needs to do things like load a ledger dump, and whatever else, before bringing up the ports. This can take quite

[2016-01-12 11:55] sublimator commented on #685
Remote also emitted 'connect', 'disconnect' events which were quite useful

[2016-01-12 11:59] sublimator opened #687 "RippledError"
https://github.com/ripple/ripple-lib/blob/develop/src/common/connection.js#L284-L285

[code]

`response.error` is just a string token like `invalidParams`. I think it makes sense to just pass the whole response as the second parameter `data` to RippledError. There's no really escaping the fact that RippleAPI is built upon the existing rippled api, so when there's information about an error, it wou

[2016-01-12 12:32] sublimator commented on #685
[code]
`    this.connect().then();`

Then? go on a date?

[2016-01-12 18:54] clark800 commented on #685
We have to call `.then` to execute the promise, but there is nothing else that needs to be done because inside the `connect()` code the `connected` event will fire and cause requests to resume.

[2016-01-13 00:14] sublimator commented on #685
I could see that, but I didn't know you had to 'trigger' execution of a promise via then()

Wait, what? Is that normal behaviour for Promises?

[code]

[2016-01-13 01:27] clark800 commented on #685
Well, ES6 does require non-lazy execution so `.then()` could be omitted here, but some other Promises/A+ compliant libraries do lazy execution. Using `.then()` everywhere just makes it compatible with all Promise implementations.

[2016-01-13 01:49] sublimator commented on #685
Hrmmm, I guess that should be obvious to people familar with various
implementations of Promise. What is bluebird's behaviour?

[2016-01-13 01:53] clark800 commented on #685
I think all the major libraries use immediate execution, though I'm curious why because lazy execution seems better in that you don't waste time if "then" never gets called.

[2016-01-13 02:23] sublimator commented on #685
then() called with no params, hrmmm. I'd almost like that to be an error

Have you done any testing swapping out Promise impls? Is that actually
something likely to be done?

[2016-01-13 02:36] clark800 commented on #685
No and no

[2016-01-18 22:18] jnr101 opened #689 "isConnected() returns true but ledger events are no longer emitted"
Hello

I have just started using nodejs so my coding might not be correct. Nevertheless I've tried to keep it as simple and short as possible to show the issue:

My little test program is as follows:

[code]

What it is supposed to do, if the connection gets lost, then after 10 seconds it should try to reconnect. I test the program by starting it, and then at some moment in time I restart my route

[2016-02-12 18:57] lumberj opened #696 "TODO: Fix workaround for rippled bug"
https://github.com/ripple/ripple-lib/blob/8d34428dac06c5c7ec9fd77381ce6db12253b2c5/src/ledger/parse/utils.js#L61-L69
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30802923-todo-fix-workaround-for-rippled-bug?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2016-02-12 19:35] lumberj commented on #696
https://github.com/ripple/ripple-lib/blob/develop/src/ledger/parse/utils.js#L61-L69

[2016-02-15 09:04] tuloski opened #697 "Orderbook real-time stream"
Hi guys,
I'm starting to play with new RippleAPI to convert all my old code.
But in the documentation I didn't see any way to subscribe to a book with some push (stream) API for real-time.
Is now the only way to get an orderbook by polling with "getOrderbook"?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30857813-orderbook-real-ti

[2016-02-15 17:46] shekenahglory commented on #697
the orderbook module has been separated out into ripple-lib extensions - https://github.com/ripple/ripple-lib-extensions

[2016-02-16 18:13] #697 closed

[2016-03-08 03:13] #684 closed

[2016-03-09 10:45] ripplejnr opened #700 "add offerSequence functionality to prepareOrder function"
It is currently not possible to cancel/replace a previous trade with a new trade using ripple-lib.This functionality is available in rippled however with the 'offerSequence' parameter.

Is it possible to build this in the ripple-lib API?

I am now 'hacking' the offerSequence parameter in the 'prepared' order and that works, but it would be cleaner if the Ripple-Lib interface would support this par

[2016-03-11 20:11] jnr101 opened #702 "ripple-0.16.8.js error: fails due to the ripple-lib missing arguments in..."
Hello,

When building the ripple-0.16.8.js following the guidelines from [https://ripple.com/build/rippleapi-beginners-guide/#build-instructions](url) an error occurs when using the ripple-0.16.8.js.

it fails due to the ripple-lib missing arguments in the function(modules, exports) on line 5500 where:      module.exports = _;

Can you check please?

Thanks
Jn_r
##

<bountysource-plugin>
---
Want

[2016-03-11 20:22] whotooktwarden commented on #702
I can confirm this issue.

https://xagate.com/rippleapi/get_wallet.html uses 0.16.5.js meanwhile I have copied the file to https://xagate.com/rippleapi/testbug.html modifying the source to 0.16.8.js.  The latter produces the following errors:

ripple-0.16.8.js:5500 Uncaught ReferenceError: _ is not defined and undefined

testbug.html:7 Uncaught TypeError: Cannot read property 'RippleAPI' of undefi

[2016-03-11 21:11] clark800 commented on #702
@darkdarkdragon made lodash a separate dependency, try including lodash 3.1 separately

[2016-03-11 23:58] karma0 opened #703 "Boilerplate ... broken???"
When attempting to get past the first step in walking through the API documentation using ripple-lib, I receive the following error when attempting `babel-node boilerplate.js`:

    (function (exports, require, module, __filename, __dirname) { const { RippleAPI } = require('ripple-lib');
                                                                        ^

    SyntaxError: Unexpected token {

[2016-03-12 06:23] ripplejnr commented on #703
You need preset babel to es2015. see [babel-node --presets es2015 boilerplate.js](https://www.npmjs.com/package/babel-preset-es2015) for several methods to do this. Try

babel-node --presets es2015 boilerplate.js

[2016-03-13 08:27] karma0 commented on #703
Worked.  Just needed to install the `babel-preset-es2015` npm module, then it executed exactly as you suggested.  Seems I need to do a bit of reading.  Thanks!

[2016-03-13 08:27] #703 closed

[2016-03-19 11:17] ripplejnr opened #706 "getOrders returns value properties.makerExchangeRate in drops, not XRP"
when retrieving the order using getOrders and the order base or counter is 'XRP', then the value of makerExchangeRate  is 1.000.000 off. Looks like XRP-drops are used instead of normal XRP.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32051020-getorders-returns-value-properties-makerexchangerate-in-drops-not-xrp?utm_campaign=plugi

[2016-03-22 21:16] clark800 commented on #706
Fixed in this pull request: https://github.com/ripple/ripple-lib/pull/708

[2016-03-22 21:16] #706 closed

[2016-03-23 10:22] tuloski opened #710 "Boilerplate error"
There is a small error in the boilerplate code here: https://ripple.com/build/rippleapi/

[code]
should be
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32173229-boilerplate-error?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2016-04-04 19:23] clark800 commented on #710
This isn't technically an error because the docs state that you should use Babel for ES6 support. But it would be good to make the docs work with Node v4+ to get rid of the Babel dependency for running.

[2016-04-04 19:23] #710 closed

[2016-04-12 02:26] chjcook opened #715 "getTransactions(address): 'BigNumber() not a number...'"
When calling the function getTransactions(_address_), the promise catches an error:
{ [BigNumber Error: new BigNumber() not a number: unavailable] name: 'BigNumber Error' }

Code:

[code]
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32848095-gettransactions-address-bignumber-not-a-number?utm_campaign=plugin&utm_content=tracker

[2016-04-25 11:35] swdpankaj opened #716 "html page not running"
I am beginner to use ripple. I downloaded this script and trying to run this page "localintegrationrunner.html". But the files and folders are not found in this script "mocha/mocha.css", "mocha/mocha.js" and "ripple-for-web-tests.js". I am able to connect ripple using this script https://github.com/ripple/ripple-dev-portal/tree/master/content/code_samples/rippleapi_quickstart but I don't know how

[2016-04-26 02:58] whotooktwarden commented on #716
What version of ripple-lib are you using?  Could perhaps be related to #702

[2016-04-26 11:31] swdpankaj commented on #716
I am using ripple-lib-0.16.5

On 4/26/16, Taylor Warden <notifications@github.com> wrote:

--
*Thanks and Regards*

*Pankaj Kumar*
*swd*

[2016-04-26 19:57] darkdarkdragon commented on #716
@swdpankaj What are you trying to achieve? If you want to contact rippled server from browser, you will need to write javascript code that will run in the browser, will take data from you form and send it to rippled server using ripple-lib.
If you want to contact rippled server from you own server, you should use nodejs instead of php.

localintegrationrunner.html is used in tests only, you should

[2016-04-27 04:29] swdpankaj commented on #716
I want to develop a website which will use ripple api for fund
transfer. For this I downloaded the source code from
https://github.com/ripple/ripple-lib/releases.

I have successfully connected using with my html page using this
script. https://github.com/ripple/ripple-dev-portal/tree/master/content/code_samples/rippleapi_quickstart

But I don't know how to execute json code using javascript and h

[2016-05-03 16:41] Kekec852 opened #717 "No Promise"
Hi,

I have encountered an pickle. I'm trying to create settings on account calling `api.prepareSettings(address, settings)`, but doesn't return Promise object. It's waiting on something.

My code:
[code]

My investigation into ripple-lib code lead me to problem with schema validator, but i could be wrong.

P.S.: On more testing i found out that problem is in maxFee directive. If I don't use it, e

[2016-05-03 16:57] Kekec852 commented on #717
I found the problem ... maxFee MUST be a string it fails without error! That might be a bug.

[2016-05-10 11:24] PranobSamani opened #719 "RippleError of invalid transaction when doing prepare payment transaction flow"
I am calling alll methods sequentially and i get error as RippleError invalid transaction.

How can i catch that and show it on UI or is there any bug

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34082652-rippleerror-of-invalid-transaction-when-doing-prepare-payment-transaction-flow?utm_campaign=plugin&utm_content=tracker%2F323756

[2016-05-10 18:23] clark800 commented on #719
Please provide source code and steps to reproduce the issue you are seeing.

[2016-05-11 05:05] PranobSamani commented on #719
Issue fixed

[2016-05-11 17:17] #719 closed

[2016-07-08 11:23] codedot opened #722 "Missing interface for order replacement"
[`OfferCreate`](https://ripple.com/build/transactions/#offercreate) has an optional parameter `OfferSequence` to specify an order to delete before creating a new one. However, in the latest `ripple-lib` version the `prepareOrder()` routine does not support that option. This option needs to be implemented to save fees and time for market makers.

<bountysource-plugin>
---
Want to back this issue? *

[2016-07-14 19:42] mDuo13 commented on #722
this is a dupe of #700

[2016-07-14 19:44] mDuo13 commented on #700
For others who might find this ticket, here's a forum link explaining the workaround for now:
https://forum.ripple.com/viewtopic.php?f=2&t=15925#p72451

[2016-07-19 20:55] clark800 commented on #722
Closing as duplicate

[2016-07-19 20:55] #722 closed

[2016-08-01 21:35] clark800 commented on #700
`orderToReplace` option added in https://github.com/ripple/ripple-lib/pull/727

[2016-08-01 21:35] #700 closed

[2016-08-01 21:37] clark800 commented on #716
For technical support please contact support@ripple.com

[2016-08-01 21:37] #716 closed

[2016-08-02 00:50] clark800 commented on #717
It will show an error if you add the `.catch(console.error)` from the Boilerplate script https://github.com/ripple/ripple-lib/blob/develop/docs/index.md#boilerplate

[2016-08-02 00:50] #717 closed

[2016-08-02 01:09] clark800 commented on #689
I think what's happening is that the websocket connection is not being closed because the socket didn't actually close. See here: http://stackoverflow.com/a/438243

Note that RippleAPI will automatically try to reconnect if the socket is actually closed, so you wouldn't need the code above.

I don't know if there's any way to fix this completely. We could have a heartbeat check, but you would stil

[2016-08-02 15:57] ripplejnr commented on #689
Currently I am using the next code to detect non-responsiveness (my code triggers at each newly returned ledger from api.on('ledger'..)

[code]
This is of course very specific to the implementation of my program.
I have seen it being triggered so once in a while, so it's worth having a mechanism like this in my code, otherwise it would have stopped working - waiting indefinitely on the next ledger

[2016-08-02 17:43] offlinehacker opened #728 "Add example script to generate cold-hot wallet setup"
It would be nice to have example script to generate cold-hot wallet setup :)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36576301-add-example-script-to-generate-cold-hot-wallet-setup?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2016-08-02 19:42] clark800 commented on #728
Hot and cold wallet setup is an infrastructure problem and not something that an API can do, so you will have to read about that elsewhere. All you need from the API is `generateAddress` https://github.com/ripple/ripple-lib/blob/develop/docs/index.md#generateaddress

[2016-08-02 19:42] #728 closed

[2016-08-05 08:47] codedot opened #729 "Missing interface for path_find"
RippleAPI is currently missing interface for the `path_find` request. Currently, the only pathfinder interface in RippleAPI seems to be the `getPaths()` method which is based on a simpler version of pathfinder, namely `ripple_path_find`.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36669701-missing-interface-for-path_find?utm_c

[2016-08-10 03:07] caipeng-hrv opened #732 "getTransactions MissingLedgerHistoryError"
Hello
      when i use getTransactions with options where has not limit or the limit is not equal the
 length of transactions,it get the MissingLedgerHistoryError.
    where i found the code is
[code]
is it correct? why options.limit must equal transactions.length even i do not know transactions.length.

i use the code it will work fine.
[code]

<bountysource-plugin>
---
Want to back this issue? *

[2016-08-10 18:52] clark800 commented on #732
If you don't specify limits, it will try to get _all_ of the history and most rippled servers don't store all of the history. You can specify `minLedgerVersion` and/or `maxLedgerVersion` and/or `limit` to prevent this problem.

[2016-08-17 06:03] caipeng-hrv commented on #732
ok,thank you.

[2016-08-17 06:03] #732 closed

[2016-09-07 01:34] pftq opened #733 "Browser-Build Reference Error in Javascript"
I used the directions here to build a browser-compatible JS file:
https://ripple.com/build/rippleapi-beginners-guide/#build-instructions

 But when I run the example HTML, I get the following error in Chrome:
ripple-0.17.1.js:8284 Uncaught ReferenceError: _ is not defined

That line in the js file is:
module.exports = _;
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on i

[2016-09-07 22:45] bensharaf commented on #733
The browser version of `ripple-lib` expects you to include lodash in your webpage. Try adding

[code]

[2016-09-08 01:39] pftq commented on #733
Thanks, this was not clear to me from the project or developer guide.

[2016-10-03 10:20] flxh opened #735 "Account argument for method 'getOrderbook' should be optional"
The ripple-lib api shouldn't throw an error when you omit or pass `null` for the first argument, which is the account used as perspective.
Because the corresponding rippled command 'book_offers' already defaults the account to ACCOUNT_ONE when the account parameter is omitted. So from that perspective passing `null` as account should be absolutely fine.

[2016-10-03 17:22] clark800 commented on #735
The ripple-lib API does not aim for consistency with the rippled API; it is intended to be a simplified interface, so we intentionally avoided reproducing all the quirks of the rippled API.

[2016-10-03 17:22] #735 closed

[2016-10-17 21:37] codedot opened #736 "Unexpected behavior due to variable versions of dependencies"
The latest version 4.8.0 of the `ajv` package prints the following message to standard output

[code]

when `.preparePayment()` method is called in RippleAPI.

Requesting freezing all dependencies of `ripple-lib` at exact versions tested.

One workaround is to specify

[code]

in `package.json` of a package that requires `ripple-lib`.
##

<bountysource-plugin>
---
Want to back this issue? **[Post

[2016-11-04 08:43] codedot opened #737 "BigNumber Error when currencies specified in pathfinder"
When specifying `source.currencies[]` in the `pathfind` argument of `getPaths()`, a `BigNumber Error` arises. This is due to the `requestPathFind()` routine [calling](https://github.com/ripple/ripple-lib/blob/50c6af31589b6afd9508403c52000257a40d760c/src/ledger/pathfind.js#L42) `toRippledAmount()` on currencies instead of amounts. The `toRippledAmount()` assumes its argument to have a value propert

[2016-11-09 11:55] professorhantzen opened #738 "Transaction signing corrupts floating point string"
Supply rippleAPI.sign with a JSON string for an OfferCreate transaction containing a floating point string as TakerPays.  Choose a value with a large number of digits.  Sometimes this creates a serialised transaction with the correct value embedded, other times the value becomes corrupted.

This has been verified by taking the serialised output from the sign function, and sending it to the websock

[2016-11-09 13:46] sublimator commented on #738
ripple-binary-codec needs to check the significant digits is no greater
than 16 probably. RippleAPI probably doesn't with the simple json schema.

[2016-11-09 13:47] sublimator commented on #738
0.1999 9999 9999 9999 1

17 significant digits.

On 9 Nov 2016 11:46 p.m., "Nicholas Dudfield" <ndudfield@gmail.com> wrote:

[2016-11-09 13:52] sublimator commented on #738
If I get to my pc b4 someone else fixes it I'll fix it.

[2016-11-09 19:24] professorhantzen commented on #738
Thank you!  What form of fix is likely?  Will ripple-binary-codec return an error if the supplied value exceeds 16 significant digits, or will it round the value?

Also, a temporary workaround for inputs into the current sign function:

[code]

The multiply by 1 casts the string to a number, toPrecision reduces it to 16 significant digits, dividing by 1 removes trailing zeroes.  Finally, the addit

[2016-11-26 08:32] sublimator commented on #738
Earth to ripple? @clark800? Who maintains this these days?

[2016-12-21 15:30] matejc opened #742 "installing with yarn fails"
when I try to install the 0.17.4 version or 0.17.3 of ripple-lib, the installation fails:
(tested with yarn versions 0.17.10 and 0.18.1)

[code]

and one more thing, the ripple-lib@0.17.2 can be installed with yarn

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40283977-installing-with-yarn-fails?utm_campaign=plugin&utm_content=trac

[2017-03-24 03:02] njmurarka opened #748 "RippleAPI's getTransactions slows down to a crawl"
I have noticed the following:

Imagine W is an issuing address. X has a trustline to USD.W. X is sending USD.W to Y, where Y has a trustline to EUR.Z and where some Market Maker converts USD.X to EUR.Z.

Now imagine hundreds or even thousands of such transactions going through per hour.

Try "getTransactions" on W, especially on a WSS (web sockets secure) endpoint. Unless you provide a very recent

[2017-03-24 15:01] tuloski opened #749 "Websocket closing"
It has been a week or two that the websocket fails and ripple-lib (old verison 0.12.6) trows an error:

/home/odroid/node_modules/ripple-lib/node_modules/ws/lib/WebSocket.js:214
    else throw new Error('not opened');
         ^

Error: not opened
    at WebSocket.send (/home/odroid/node_modules/ripple-lib/node_modules/ws/lib/WebSocket.js:214:16)
    at Server._sendMessage (/home/odroid/node_modul

[2017-03-24 15:07] donovanhide commented on #749
See https://github.com/ripple/rippled/issues/2026

[2017-03-24 22:30] miguelportilla commented on #749
This [pull request](https://github.com/ripple/rippled/pull/2067) fixes the websocket disconnect issue.

[2017-04-02 22:17] ihomp commented on #736
same for me,

https://github.com/epoberezkin/ajv/issues/303
https://github.com/epoberezkin/ajv/issues/260

[2017-04-26 21:49] tuloski opened #758 "Stream of transactions"
Is there a way to subscribe to a server and get a stream of all transactions that are put in the open ledger before the ledger closes? I didn't see anything in the docs.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44573129-stream-of-transactions?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github

[2017-04-27 06:45] sublimator commented on #758
The raw rippled API definitely supports it, though I'm not sure about
RippleAPI

[2017-04-27 08:07] tuloski commented on #758
Thanks.
But I'm almost sure it was supported in old versions.

[2017-04-27 08:27] sublimator commented on #758
Define old version :) ?

[2017-04-27 08:37] tuloski commented on #758
When it was called ripple-lib, before it became rippleAPI, probably up to release 0.13

[2017-04-27 08:42] sublimator commented on #758
Yeah, with RippleAPI, they decided to wash over the raw rippled api, with
different names/semantics etc. I'm sure there's probably some way you could
make use of the connection though.

[2017-04-27 08:43] sublimator commented on #758
https://github.com/ripple/ripple-lib/blob/develop/src/api.js#L96

[2017-04-27 08:44] sublimator commented on #758
https://github.com/ripple/ripple-lib/blob/develop/src/common/connection.js#L389

[2017-04-27 08:45] sublimator commented on #758
https://ripple.com/build/rippled-apis/#transaction-streams

You need to `subscribe` to the `transactions_proposed` stream

[2017-05-10 19:58] pftq opened #761 "Release still points to 0.17.4"
fyi - when you do a gitpull like so:
git clone https://github.com/ripple/ripple-lib.git
cd ripple-lib
git checkout release

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45055699-release-still-points-to-0-17-4?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2017-05-10 20:57] pftq opened #762 "api.getOrderbook freezes on new iphones"
See this thread:
https://www.xrpchat.com/topic/4477-apigetorderbook-freezing-on-iphone/

It only started happening a few days ago, no code changes, same phones, same ripplelib version (tested 0.17.1-7 - no effect).  So it seems like something to do with the rippled servers and not the library itself.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountyso

[2017-05-12 20:35] bachase commented on #762
Thanks for reporting. It appears this is due to https://github.com/MikeMcl/bignumber.js/issues/120, which is due to a bug in safari https://bugs.webkit.org/show_bug.cgi?id=170264.  We can investigate a workaround.

[2017-05-12 20:43] pftq commented on #762
Glad it was identified. Note it affects transactions and orders as well,
not just orderbook.

On May 12, 2017 10:35 PM, "Brad Chase" <notifications@github.com> wrote:

[2017-05-20 07:02] cometburn opened #763 "getTransactions Error"
Using ``ripple-0.17.4.js`` shows an error (see attached image)

lodash version ``4.16.4``

![screen shot 2017-05-20 at 14 53 27](https://cloud.githubusercontent.com/assets/12859640/26273876/3b85bd66-3d6d-11e7-8e43-c63a09df80dd.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45389877-gettransactions-error?utm_campaign=plugin&utm

[2017-05-20 09:28] AdvancedStyle opened #764 "signedTransaction invalid"
I have setup a simple offline signing script, however the "signedTransaction" blob that is returned is not valid when submitting to a ripple server.  Here is my code (details redacted) below:

(Note that the account/seed I'm using when generated using the ripple-lib generateAddress() )

﻿`
const {RippleAPI} = require('ripple-lib');

const api = new RippleAPI();

var account = 'rMYFROMACCOUNT';
var

[2017-05-20 10:50] AdvancedStyle commented on #764
Nevermind I figured out the problem was that I needed to set:

`"Flags": 2147483648 `

in txJSON

[2017-05-20 10:50] #764 closed

[2017-05-20 20:37] offlinehacker opened #765 "Does RippleAPIBroadcast "fallback"?"
Will RippleAPIBroadcast "fallback" to other server if a call fails on one rippled server, due to let's say NotConnectedError or TimeoutError? I can see you are using Promise.race method, but what if error happens before success?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45403154-does-rippleapibroadcast-fallback?utm_campaign=pl

[2017-05-20 21:35] inmyth commented on #758
I upvote this issue. The subscribe function disappeared on the newer version (right now it's 0.17.x). The ripple-lib library used in [Ripple Websocket demo](https://ripple.com/build/websocket-tool/#subscribe) is version 0.11.  Also compare the it with this working snippet of subscription : http://code.runnable.com/VNyyD5TVKuVs7aZu/ripple-lib-subscribe-for-node-js
With this library we can only list

[2017-05-22 01:54] inmyth opened #766 "Orders from getOrderbook are not always sorted correctly"
I noticed that orders from the function `getOrderbook` return bids and asks sorted by the `makerExchangeRate`. But some of the orders are sometimes inserted at the wrong sequence, especially if the rate is 0.1.  For example this is the order book from following configuration
[code]
In the result below, all orders whose rate is exactly 0.1 come first. The ones who rates are smaller (0.027) come lat

[2017-05-24 04:03] lastgox commented on #763
I got same error.
Please fix it.

[2017-06-01 16:35] ydlee1227 opened #768 "Success transaction but account wasn't activated."
I've sent ripples onto my ripple adress
BUt it wasn't activated the adress. And I cannot find my ripples

Adress :  rsG1sNifXJxGS2nDQ9zHyoe1S5APrtwpjV

23D7AE2C4F39B9C3ECE1CCFD1BF49CB4AACD0FE4F9E943DFB7FD527D571314A7
This is my transaction ID.
https://xrpcharts.ripple.com/#/transactions/23D7AE2C4F39B9C3ECE1CCFD1BF49CB4AACD0FE4F9E943DFB7FD527D571314A7
It shows it is successful. But it hadn't activa

[2017-06-03 13:46] pftq commented on #762
Any update on this? It appears that any site using ripplelib is
inaccessible to the latest iPhone, including GitHub and any site that
offers trading directly through RCL.

On May 12, 2017 1:43 PM, "pftq" <pftq@pftq.com> wrote:

Glad it was identified. Note it affects transactions and orders as well,
not just orderbook.

On May 12, 2017 10:35 PM, "Brad Chase" <notifications@github.com> wrote:

[2017-06-08 16:32] pftq opened #770 "deriveKeypair and deriveAddress"
Is there a way to access these functions? They would be useful to return the address from a secret key and verify a correct address-secret key pair.  If not, could they be exposed? Thanks

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46024319-derivekeypair-and-deriveaddress?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medi

[2017-06-08 16:35] sublimator commented on #770
https://github.com/ripple/ripple-keypairs

[2017-06-08 17:24] pftq commented on #770
I'm aware of that library.  However, it's 2 years old and would be useful to have available in the main ripplelib (especially since the code is already in ripplelib, just not exposed through API).

[2017-06-12 03:13] sublimator commented on #770
2 years old= pretty stable. Not a moving target

Convenience of it being exported from ripple lib aside ...

[2017-06-12 03:37] pftq commented on #770
Not sure why this is a debate.  The code is already in ripplelib - it just needs to be exposed.  It would help developers to find everything in one place rather than have to locate an additional library that contains the duplicate code.

[2017-06-12 03:44] sublimator commented on #770
Not sure why you think this is a debate :)

I have no authority to add it to ripple-lib, just saying that you can use
ripple-keypairs and get on with life while waiting for someone from ripple
that can actually make the changes you want.

[2017-06-12 03:55] pftq commented on #770
Ok, it just wasn't clear to me what your point was.  I already have the functionality on my end by adding the 4 lines of code to ripplelib mentioned above.  My point was it would just help future developers to have those same 4 lines added in the official ripplelib.

[2017-06-21 08:56] Julyyq opened #774 "Can't find variable _"
I wanna use `ripple-lib` in the browser. I clone this project and run `npm install`, then run `gulp build-min` get the file `ripple-0.17.7-min.js`， but when I include this file in my html header, I got the following error:

![screenshot 2017-06-21 16 52 19](https://user-images.githubusercontent.com/2620575/27375663-7e072cbc-56a2-11e7-9b3a-7bf9295d3010.png)

BTW, any documentation on about how to u

[2017-06-21 09:13] sharafian commented on #774
If you're using ripple-lib in the browser, you need to include lodash first. Try adding:

[code]

(Documentation on the lodash dependency is going to be added with this PR
https://github.com/ripple/ripple-dev-portal/pull/260 )

[2017-06-21 09:53] Julyyq commented on #774
@sharafian Thanks, it works.

[2017-06-21 09:53] #774 closed

[2017-06-27 03:33] Kishanjvaghela opened #775 "Ripple-lib with react native"
Can I use this lib with react native?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46625517-ripple-lib-with-react-native?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F323756&utm_m

[2017-06-28 07:53] Julyyq commented on #762
I met same problem, is there any solution yet?

[2017-06-28 07:56] sublimator commented on #762
XRP price is fine, what you mean?? Haha

[2017-06-28 07:58] Julyyq commented on #762
@sublimator 😓 many apis broke because of this issue.

[2017-06-28 08:03] sublimator commented on #762
Yeah, I don't know why they don't work out a fix

[2017-06-28 08:04] sublimator commented on #762
I used to work at ripple and know ripple pretty well so I will try take a
look.

[2017-06-28 08:08] Julyyq commented on #762
I see `bignumber.js` library author fix the issue, but last updated time of `ripple-lib `was 2 month ago, can't believe.
Thanks very much, this bug block me several days.

[2017-06-28 08:11] sublimator commented on #762
So they just need to update package.json??

On Jun 28, 2017 3:08 PM, "Allen.Young" <notifications@github.com> wrote:

I see bignumber.js library author fix the issue, but last updated time of
ripple-libwas 2 month ago, can't believe.
Thanks very much, this bug block me several days.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://gith

[2017-06-28 08:28] sublimator commented on #762
Looks like it needs to be updated in a few dependencies too: ripple-hashes and ripple-lib-transactionparser

[2017-06-28 08:30] Julyyq commented on #762
@sublimator Ripple develop with low speed. :)

[2017-06-28 08:30] sublimator commented on #762
I know :/

[2017-06-28 08:31] Julyyq commented on #762
@sublimator So it's the reason you leave. haha

[2017-06-28 08:31] sublimator commented on #762
I would open up some pull requests, but when I have some open from January
already, it's hard to get the motivation :)

[2017-06-28 08:33] Julyyq commented on #762
@sublimator I will use your fork repo. You are a good man.

[2017-06-28 08:45] sublimator commented on #762
Don't use my fork! It's ancient!

Just try updating the package.json for bignumber.js in each dependency:
ripple-lib
ripple-hashes
ripple-lib-transactionparser

[2017-06-28 08:46] Julyyq commented on #762
Alright I'll try to update package.json.

[2017-06-28 09:02] Julyyq commented on #762
@sublimator  It worked! I love u.

[2017-06-28 09:03] sublimator commented on #762
Happy Days!

Remember to run the test suites!

[2017-06-28 13:55] pftq commented on #762
Can you upload or share the compiled ripple js file? Much appreciated.
Thank you

On Wed, Jun 28, 2017 at 2:03 AM, sublimator <notifications@github.com>
wrote:

[2017-06-29 05:41] Julyyq commented on #762
@pftq You're welcome. 😊
[ripple-0.17.7-min.js.zip](https://github.com/ripple/ripple-lib/files/1110974/ripple-0.17.7-min.js.zip)

[2017-06-29 05:54] pftq commented on #762
Thanks - do you have the non-min version too?

On Wed, Jun 28, 2017 at 10:41 PM, Allen.Young <notifications@github.com>
wrote:

[2017-06-30 04:25] Julyyq commented on #763
+1
![screenshot 2017-06-30 12 09 55](https://user-images.githubusercontent.com/2620575/27720880-2613a9d8-5d8f-11e7-91ed-d523970e96f5.png)

[2017-06-30 04:27] Julyyq commented on #762
@pftq
[ripple-0.17.7.js.zip](https://github.com/ripple/ripple-lib/files/1114113/ripple-0.17.7.js.zip)

[2017-07-03 15:59] elmurci opened #776 "fillOrKill and immediateOrCancel simultaneously - prepareOrder"
When both `fillOrKill` and `immediateOrCancel` are set, the error is not very meaningful:

`[ValidationError(instance.order is of prohibited type [object Object])]`

Also IMHO, the [docs](https://github.com/ripple/ripple-lib/blob/develop/docs/index.md#order) should specify clearly that both fields can't be set at the same time.

This is the order object I tested with:

[code]

<bountysource-plugin

[2017-07-06 07:52] Julyyq commented on #758
@sublimator Do you know "how to `subscribe` to the `transactions_proposed` stream"? using RippleAPI?

[2017-07-06 08:07] Julyyq commented on #758
I found the version 0.7.34 has this method: `remote.request_subscribe().accounts(data.account,false).request();`. But with 0.17.x, how to do that?

[2017-07-06 14:43] wilsonianb commented on #758
You can subscribe to websocket streams using a library like [ws](https://www.npmjs.com/package/ws) (no ripple-lib required).
Here's an example of a [`validations`](https://ripple.com/build/rippled-apis/#subscribe) subscription:
https://github.com/wilsonianb/validation-count-reporter/blob/d03f74c20f80da420a291760693cbc5d5bcec9f7/index.js#L102-L156

[2017-07-07 03:25] Julyyq commented on #758
@wilsonianb Thanks very much!

[2017-07-18 17:08] tkiddle opened #777 "maxAmount must be omitted for XRP-to-XRP payments"
Payment transactions can have an optional SendMax field, which "Must be omitted for XRP-to-XRP payments."

https://ripple.com/build/transactions/#payment

The payment object in ripple-lib's preparePayment method can have an optional source.maxAmount, which is intended to serve the same purpose as SendMax.
https://github.com/ripple/ripple-lib/blob/develop/docs/index.md#payment
https://github.com/ri

[2017-08-09 20:36] tuloski commented on #766
See this: https://www.xrpchat.com/topic/8223-rippleapi-orderbooks-order-is-by-string-quality/
The quality is order by "string"...pretty stupid eh?

[2017-08-09 20:57] pftq commented on #762
Thanks again for the patched version.  The official version is pretty much non-functional until this is patched.  Hopefully they notice soon.

[2017-08-11 23:53] tuloski opened #781 "transactions in parallel-->same sequence"
Sending multiple (different) transactions in "parallel" results in all the transactions having the same sequence, so one succeeds and the others get tefPAST_SEQ.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48179081-transactions-in-parallel-same-sequence?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_sourc

[2017-08-12 02:50] sublimator commented on #781
@clark800

[2017-08-14 15:51] wilsonianb commented on #781
Hi @tuloski
https://ripple.com/dev-blog/introducing-rippleapi/

RippleAPI is stateless. It can only obtain account sequence numbers from validated ledgers, which do not include in-flight transactions.

You can manage sequences locally and specify `sequence` in your transaction instructions.
https://github.com/ripple/ripple-lib/blob/develop/docs/index.md#transaction-instructions

[2017-08-14 19:37] tuloski commented on #781
I see, but it's weird to use a library for something asynchronous and with promises and then you have to manually do a "mutex" or something (global variable?) to take care of the sequence.
So every time a transaction is submitted and the sequence is not included, the API has to send a request to the server to get the lastSequence number of the account?

[2017-08-14 20:03] wilsonianb commented on #781
Correct. See here:
https://github.com/ripple/ripple-lib/blob/b5564330f68a9bbf2fef9f68252a6a57299f27a5/src/transaction/utils.js#L85-L98

[2017-08-15 13:21] tuloski commented on #781
What do you think is the best workflow if I have multiple APIs (on multiple machines potentially) accessing the same account and sending transactions in async way (i.e. I cannot coordinate them)?
Just send the transactions, wait to fail and resubmit in case of failure?

[2017-08-15 17:04] tuloski opened #782 "[enhancement] Autobridged book when IOU:IOU"
The api.getOrderbook should return the autobridged book when the two legs are two IOUs.

Maybe an option can decide if getting the autobridged or not.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48287731-enhancement-autobridged-book-when-iou-iou?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github

[2017-08-27 12:53] fibo opened #784 "How to buy via API"
Hi, sorry for the newbie question, this subject is so interesting also from the point of view of a mathematician like me.

Can you please tell me if it is possible to buy XRP via API. I also do not understand reading docs where to get my address and my secret.
Is it necessary to build an exchange to buy and hold XRP directly? If yes what are the minimum actions necessary, how it works?

Thank you

[2017-08-27 12:55] sublimator commented on #784
You can purchase fiat currency tokens/ious on the network at various
exchanges. Ripple has a builtin orderbook functionality, where people trade
various assets, including native XRP.

One such exchange: https://www.bitstamp.net/

[2017-08-27 16:42] fibo commented on #784
Thank you very much for your answer.
I still not get if I purchase XRP from an exchange, do I own it? And what I get? I mean, do I get some token that represent what I bought?
And if I want to sell my XRP should I use an exchange again?

[2017-08-28 16:53] sublimator commented on #784
At bitstamp you can deposit USD into their bank account, at which point you
can use the exchange to buy bitstamp XRP ious. You can then `deposit` into
the native ripple network, sending it to a ripple address (essentially a
public key), that matches a private key that you possess.

If you have the private key to make transactions utilizing those XRP you
can make a trade with anyone that is willing

[2017-08-28 20:54] fibo commented on #784
Thank you very much. I created an account on bitstamp and I will buy XRP. For other questions I will continue on the forum.

[2017-08-28 20:54] #784 closed

[2017-08-29 16:04] sublimator commented on #784
No problem :)

[2017-08-31 07:31] afzydev opened #787 "How to deal with temREDUNDANT"
When sender address and the destination address is same and I am using unique source tag and destination tag also for payments.

The transaction is showing invalid and showing message

I am in a big trouble please tell me the way to deal with.

[code]

Thanks

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48835671-how-to-deal-with-

[2017-09-03 22:28] #696 closed

[2017-09-04 09:01] michielbdejong opened #792 "nodejs process stays alive for another 20 seconds after disconnect"
To reproduce:

[code]

And then:
[code]

Continuation of https://github.com/ripple/ilp-plugin-xrp-escrow/issues/14

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48957720-nodejs-process-stays-alive-for-another-20-seconds-after-disconnect?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We acce

[2017-09-06 05:56] michielbdejong opened #793 "[docs] payment channel related transaction types not listed"
https://ripple.com/build/rippleapi/#transaction-types does not list the payment channel related transaction types

cc @mDuo13

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49028119-docs-payment-channel-related-transaction-types-not-listed?utm_campaign=plugin&utm_content=tracker%2F323756&utm_medium=issues&utm_source=github)** We ac

[2017-09-06 21:39] intelliot commented on #761
Thanks for pointing this out. We've removed the `release` branch; instead, please use `master` for the latest recommended version.

[2017-09-06 21:39] #761 closed

[2017-09-09 15:49] jason4zhu opened #796 "ELIFECYCLE error when running npm install"
Hi,

I tried to `git clone` the repo and run `npm install` under it but it complains the following error:

[code]

Any suggestions? Thanks!

Node: v6.3.0
npm: 5.4.1
OS: mac osx 10.11.6

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49156430-elifecycle-error-when-running-npm-install?utm_campaign=plugin&utm_content=tracker%2F323756&u

[2017-09-13 14:05] matejr opened #797 "Feature request: support signing with ECDSA secp256k1 and Ed25519 private keys"
Sign method should support signing with ECDSA secp256k1 and Ed25519 private keys (and not just with Ripple secret keys).

The format of these private keys needs to be documented.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49290801-feature-request-support-signing-with-ecdsa-secp256k1-and-ed25519-private-keys?utm_campaign=plugin&

[2017-09-13 17:41] intelliot commented on #797
Thanks for submitting this issue. Could you elaborate on what the use case for this feature would be?

[2017-09-13 20:51] matejr commented on #797
Easier generation of vanity addresses (account ids) with split-key mining, easier integration with hardware devices which store ECDSA private keys (it is not possible to use exported private key in any RippleAPI-based wallet), etc.

[2017-09-14 15:55] pftq commented on #782
I've built this into my own wallet/site here:
https://www.theworldexchange.net/

You can find the code block for it by searching for bridgedbook in the source code.  It would be nice to have it in ripplib to standardize this, but just sharing in case it helps.

[2017-09-15 13:07] matejr commented on #781
@tuloski , you can use another process (Redis or something similar) to track (or coordinate) sequence numbers. You can also use something like Apache ZooKeeper, but this seems like overkill to me.

[2017-09-15 22:15] intelliot commented on #781
I agree with @matejr's suggestion. You may need to be creative to devise a way to coordinate sequence numbers (perhaps a simple API between your machines), but it should be possible. If not, let us know what's unusual about your setup that prevents communication between your machines. Thanks!

[2017-09-15 22:15] #781 closed

[2017-09-19 08:43] tuloski opened #798 "Question on fees."
When setting with RippleAPI the "fee" field in the instructions (An exact fee to pay for the transaction), what happens if the fee is not enough? How many XRP will be taken from the account?
When setting with RippleAPI the "maxFee" field (The maximum fee to pay for the transaction), what happens if the fee is not enough? How many XRP will be taken from the account? And what happens if the maxFee i

[2017-09-22 06:05] michielbdejong commented on #792
@sentientwaffle I think you fixed what sounds like the same issue in https://github.com/interledgerjs/ilp-plugin-bells/pull/153 right?

[2017-09-22 14:56] sentientwaffle commented on #792
It does look similar. I think `unref()`ing the timer on https://github.com/ripple/ripple-lib/blob/a9e5ac6290ef2fa17fadb34e808e4f5080d7ba32/src/common/connection.js#L443 will fix the issue.

[2017-09-22 18:49] tuloski opened #799 "getOrderbook doesn't return all the book's info"
Some fields returned by rippled are not returned by api.getOrderbook().
For example the "owner_funds" field which is fundamental to build autobridged books and the "flags" field.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49634790-getorderbook-doesn-t-return-all-the-book-s-info?utm_campaign=plugin&utm_content=tracker%2F323756&u

[2017-09-22 18:53] tuloski commented on #787
Are you sending the same currency to the same address? If that is the case the temREDUNDANT is correct since the payment is actually doing nothing (self sending same currency).

[2017-10-02 17:39] JoelKatz commented on #787
What is the reason for submitting the transaction exactly? The transaction has no paths. The source and destination currencies are the same. The transaction would have no effect on the ledger. You must control the source account to send the transaction, and both the source and destination accounts are the same. There would be no change to on ledger balances. If you want to send yourself a message

[2017-10-03 08:20] afzydev commented on #787
@JoelKatz
Thanks for your awesome suggestion.
One thing I am unable to use source and destination tags while preparing payment .
The code snippet is same as given above.

Thanks

Regards
Afzal

[2017-10-03 22:56] JoelKatz commented on #787
@afzydev  I'm not sure I understand what you're asking.

[2017-10-22 14:54] ihomp commented on #736
can be closed, not an issue in 0.17.7
just update :)

[2017-10-23 07:26] intelliot commented on #736
Thank you!

[2017-10-23 07:26] #736 closed

[2017-10-30 18:56] intelliot commented on #787
@afzydev If the source and destination currencies are the same, the sender address and the destination address must be different.

I'm closing this issue now, but feel free to let us know if you have further questions.

[2017-10-30 18:56] #787 closed

[2017-11-03 21:28] intelliot commented on #685
@sublimator I don't quite understand what's going on here :) Is there an improvement we should make? Otherwise, I think we can close this issue.

[2017-11-03 22:42] intelliot commented on #765
Based on what I see in the code, I think it will not fall-back. If an error occurs first, that's what the caller would receive.

[2017-11-03 22:42] #765 closed

[2017-11-03 22:43] intelliot commented on #702
@jnr101 This shouldn't be a problem in the current version of ripple-lib. Please let us know if you find otherwise. Thanks!

[2017-11-03 22:43] #702 closed

[2017-11-04 04:20] sublimator commented on #685
@intelliot It's been so long that I can't recall the details, or if the issue has been solved since, though I think it's to do with the auto reconnection not working unless it first successfully connects? From the issue wording, It seems I was having issues with rippled not being ready and accepting connections.

[2017-11-04 13:47] jnr101 commented on #702
I tested it and it worked. Thanks!
Maybe you could update the 'master' to latest version? Following instructions from [https://ripple.com/build/rippleapi-beginners-guide/#build-instructions](https://ripple.com/build/rippleapi-beginners-guide/#build-instructions) I ended up with version 0.17.6 and had to do a "git checkout develop" to get version 0.17.7

[2017-11-05 00:47] intelliot commented on #702
@jnr101 Good catch. I've updated `master` to 0.17.7. I also took a closer look at this issue. I think the problem was that lodash needs to be included on your page, e.g.
[code]
It works now because our example code now includes this script tag.

By the way, we plan to release 0.17.8 shortly, which works around a bug that can cause Safari 10.1 to freeze. I recommend upgrading when it's available ne

[2017-11-05 01:10] intelliot commented on #685
Thanks for clarifying! I'm going to close this issue, but feel free to open a new one (with more details) if you encounter the issue again.

[2017-11-05 01:10] #685 closed

[2017-11-05 01:12] sublimator commented on #685
i don’t use ripple-lib anymore :)

[2017-11-05 01:29] intelliot commented on #733
The example code has been updated to include lodash. Closing.

[2017-11-05 01:29] #733 closed

[2017-11-05 16:12] jnr101 commented on #702
@intelliot you are correct, that line needs to be included.
Good to see development of ripple-lib is pickup up again! (must say I have never had serious complaints about its functionality, it works for me like a charm)

[2017-11-06 16:58] #762 closed

[2017-11-08 23:10] intelliot commented on #762
This was fixed in [0.17.8](https://github.com/ripple/ripple-lib/releases/tag/0.17.8). Thank you!

[2017-11-09 22:30] intelliot commented on #796
@jason4zhu This should be resolved in the current version of ripple-lib, which uses an updated version of lodash. Please let us know if the problem persists. Thanks!

[2017-11-09 22:30] #796 closed

[2017-11-09 22:40] #777 closed

[2017-11-09 22:44] intelliot commented on #775
Yes.

[2017-11-09 22:53] intelliot commented on #768
@ydlee1227 How do you know it wasn't activated?

The transaction looks successful and the destination address appears to have the funds.

[2017-11-10 18:17] intelliot commented on #748
@njmurarka Thanks for reporting this issue. Could you provide a code-level example (or proof of concept) that demonstrates the problem?

[2017-11-10 18:18] intelliot commented on #742
@matejc This should be fixed in the current version of ripple-lib (version 0.17.8). Please let us know if you continue to see a failure. Thanks!

[2017-11-10 18:18] #742 closed

[2017-11-10 18:23] intelliot commented on #738
This should be fixed as of ripple-lib 0.17.5 and later.

[2017-11-10 18:23] #738 closed

[2017-11-10 18:28] intelliot commented on #737
@codedot Thanks for your patience! We've made several releases of ripple-lib since this report. Could you confirm that it's still an issue in 0.17.8, and provide a code snippet that demonstrates the error?

Thank you!

[2017-11-10 20:20] codedot commented on #737
[code]

[2017-11-13 16:25] FredKSchott commented on #799
Happy to take a stab at this with some direction. Mainly, where should this info live? Right now the object has format `{specification, properties, state}`, state feels like the best place to add.

Bigger picture, its a lot of extra work to create a separate data format for ripple-lib that's entirely different from the Ripple API, and the fact that its a smaller subset introduces bugs like this. W

[2017-11-14 19:37] intelliot commented on #799
@FredKSchott I'm in favor of returning all API data to the consumer, as you said. Historically, RippleAPI was designed independent of rippled. However, moving forward, we'd like to unify their APIs and make them as similar as possible. Please feel free to take a stab at this!

[2017-11-14 20:25] FredKSchott commented on #793
This sounds like an API question/problem. [Move](https://github-issue-mover.appspot.com/) to https://github.com/ripple/rippled ?

[2017-11-14 20:36] michielbdejong commented on #793
No, the file that needs editing is https://github.com/ripple/ripple-lib/blob/master/docs/src/transactions.md.ejs

[2017-11-14 22:29] FredKSchott commented on #793
Oh! https://ripple.com/build/rippleapi/ docs are sourced out of ripple-lib? TIL

[2017-11-14 22:35] michielbdejong commented on #793
I don't know that for sure, it may also be a duplicate copy. But yes, the file I want to see changed exists in this repo.

[2017-11-15 02:54] passionofvc opened #809 "How to listen to events on the XRP Ledger (transaction, ledger, account) by a special account?"
I know subscribe ledger event with below code,
but how to listen to events on the XRP Ledger (transaction, ledger, account) by a special account?

[code]

[2017-11-16 01:45] mDuo13 commented on #793
Yes, [they are](https://github.com/ripple/ripple-dev-portal/blob/master/dactyl-config.yml#L129).

[2017-11-16 02:29] FredKSchott commented on #799
Sounds good, I'll take a stab.

[2017-11-18 14:12] sharafian commented on #809
[code]

This code allows you to listen for transactions on a given account. You can read more about the fields [here](https://ripple.com/build/rippled-apis/#subscribe)

[2017-11-18 14:13] sublimator commented on #809
You guys survived ? :)

[2017-11-20 17:44] FredKSchott opened #812 "Proposal: Simplified Requests, Flexible Responses"
Following up from #799:

So I've experimented a bit and have a proposal. Even with 100% proper typing, I'm nervous to make any big changes to the existing API methods and the interfaces/data that they already return. There are a lot of interconnected parts internally, so I'm not just worried about breaking external consumers with a lot of small, hard to detect/message changes.

This proposal aims

[2017-11-21 00:38] intelliot commented on #812
@FredKSchott This looks really good.

I've been thinking about this proposal all morning, and it's very similar to what I had in mind. In fact, it's better - I hadn't thought about using literal values as types. That provides us with type checking for existing APIs while also allowing new commands to be used. Perfect.

We won't need to make breaking changes (existing methods can be phased out at s

[2017-11-21 14:48] passionofvc commented on #809
@sharafian
thanks, if I have 1 million account,
whether I can subscribe account by 1 million or  should I call api.connection.request
1 million time for one account?
I am sorry to be late.
[code]

[2017-11-21 22:05] mDuo13 commented on #812
This is awesome. I'm totally on board with this. One thing that'll require some work beyond the proposed spec is **offline signing** though. The API should not use the rippled APIs by default when it can do the signing operation without network access. We should continue to support the existing APIs for this.

- Multisigning and channel claim signing too.
- And key generation.
- Also, as a safety

[2017-11-22 00:16] FredKSchott commented on #812
👍 That's a great point. None of those really map 1:1 with rippled API commands either, so it definitely makes sense to leave the offline logic as-is. Where they do make requests, we can refactor those to use this new `request()` API.

Down the road, it would be nice to make it even more explicit which of those methods are truly offline-only. Right now it's hard to tell which require a connection a

[2017-11-22 00:24] FredKSchott commented on #812
Thanks for the feedback! I'll hopefully find some downtime over the holidays to get started on a few of these

[2017-11-22 01:24] sharafian commented on #809
Yep, the `accounts` field can contain many account if you want to subscribe to more than one

[2017-11-23 05:05] passionofvc commented on #809
@sharafian
very thanks, I am newbie to javascript,
also learn many this time.

[2017-11-27 20:49] FredKSchott commented on #812
@intelliot @mDuo13 I found a bunch of time over the 🦃 holidays to work on this and have a branch about ready for PR.

[A preview branch is up](https://github.com/FredKSchott/ripple-lib/compare/typescript...FredKSchott:request-interface), but first I wanted to bring up a potential problem I ran into early on:

Flow doesn't support function overloading. I'm so used to using TypeScript for JS typings

[2017-11-30 19:03] FredKSchott commented on #812
@intelliot friendly ping! Would love to hear your thoughts on this. Happy to discuss offline as well.

[2017-11-30 19:35] intelliot commented on #812
Thanks!

Our team hasn't used TypeScript, but I'm looking into it, and I think it's a good language. These branches look like a great start!

I'll reach out to you via email as well.

[2017-12-01 15:36] khowarizmi opened #814 "when can I make sure order cancellation is finished"
When I was canceling all my orders, after using ```api.submit``` I use ```api.getOrders``` found that my orders still exist. When can I make sure order cancellation is finished?

[2017-12-01 22:42] intelliot commented on #812
This looks good. We would like to move to TypeScript - we'll review PRs when ready.

[2017-12-02 03:25] sublimator commented on #812
TypeScript rocks, you'll never wanna fo back to raw JS :)

[2017-12-02 07:05] FredKSchott commented on #812
Sounds good, I'll get those two branches into PRs

[2017-12-02 14:00] tuloski commented on #799
Yeah, I don't get why RippleAPI returns different structures from rippled. But if you change again you are gonna be hated by all developers (me included) :) .

[2017-12-02 14:05] tuloski commented on #812
Dear god no!
If you change again all the interfaces now that I have ported all the old ripple-lib code to RippleAPI I'll leave ripple forever and sell all my XRP and spam FUD on reddit and DDoS the validators.

[2017-12-02 14:26] tuloski commented on #814
I think you can follow the same procedure of checking whether a transaction was applied to the ledger (such as an offer)...https://ripple.com/build/reliable-transaction-submission/

[2017-12-02 17:39] FredKSchott commented on #812
@tuloski this work is being done specifically so that you can continue to use the current interface. Each method is being kept and rewritten to use the new general `request()` method internally. If ripple-lib ever did officially deprecate them (this would be months/years from now, if ever) they wouldn't need to be removed, just moved to a separate helper library and continue to work as-is.

Also,

[2017-12-02 17:40] FredKSchott commented on #799
See #812, current proposal is additive, does not modify or break current interface.

[2017-12-02 17:54] tuloski commented on #812
@FredKSchott I put a smile in the comment because I was joking :)

So do you want to keep the old "getAccountInfo", etc, and just re-implement internally with request/requestAll, such that using request one can use the standard rippled request also? Sounds good. I understood the request was going to replace old methods.

Btw the old ripple-lib already had the same interfaces as rippled. Do you kno

[2017-12-02 19:13] FredKSchott commented on #812
@tuloski Sounds good, tone is hard on Github :)

Correct, that's the immediate-term plan. Eventually, the current methods could be pulled out of ripple-lib and moved to a separate library (since they now use the preferred public `request()` interface) but if this ever happened it would be done specifically to be as easy as possible for existing users.

[2017-12-04 04:20] #814 closed

[2017-12-04 05:11] sublimator commented on #812
haha, I knew adding this extra "RippleAPI" layer would lead to just more
trouble and ultimately more to learn :) You can't escape the lower levels
when debugging ...

[2017-12-08 07:48] thomsonimjd opened #817 "RippledError(invalidTransaction)"
Below is my code for XRP transaction, I get invalid transaction error.  First I prepare the transaction and sign it and submit.  Could you  please let me know where I make mistake.

I use the test net.

[code]

[2017-12-08 21:26] intelliot commented on #817
@thomsonimjd Here are the issues I see:

1. The object returned by `preparePayment` includes a property called `txJSON` which you should pass to `sign`. In other words, you should replace this line:
[code]
with:
[code]

2. When sending USD, you need to set up [trust lines](https://forum.ripple.com/viewtopic.php?t=3334) to the counterparty before making a payment.

To send XRP instead, you can use

[2017-12-08 23:08] crackcomm commented on #817
I can recommend checking out code of [ripple-node-examples](https://github.com/rippex/ripple-node-examples) or [ripple-wallet-cli](https://github.com/filidorwiese/ripple-wallet) to learn.

[2017-12-09 12:24] TXien opened #818 "fail sign"
i sign a payment, but the error message show:

[code]

following is my code
[code]

[2017-12-10 00:34] crackcomm commented on #818
[code]

Use catch

[code]

[2017-12-10 03:06] TXien commented on #818
``
[NotConnectedError(undefined)]
``
result is undefined

[2017-12-10 03:29] crackcomm commented on #818
Ok, you have to connect first:

[code]

See [example](https://github.com/filidorwiese/ripple-wallet/blob/master/scripts/pay.js).

[2017-12-14 22:11] tuloski opened #819 "Failed payment preparation"
Hi all,
I did a script for payment, and I tried also the example in this repo for a payment and what I gen in the prepare payment is:

Connected...
[ValidationError(instance.payment.destination is not exactly one from < destinationExactAdjustment >,< minAdjustment >)]

I'm trying to send XRP, with the payment object as the following:
`const payment = {
  source: {
    address: address,
    maxAmou

[2017-12-14 22:21] tuloski commented on #819
Ok, got it.
The destination tag has to be a number and not a string :)
But the error it returns is weird.

[2017-12-16 08:45] FredKSchott commented on #812
Excited to see progress in #816! Thanks for the review @intelliot.

I've been thinking about an added bonus while I've been adding typing info for different api requests/responses:

Right now, the API is documented on the docs site via markdown. We redefine those interfaces on the docs site, in rippled, and in ripple-lib (either in Flow or TypeScript), which adds maintenance to keep them all in sy

[2017-12-25 18:10] prinick96 opened #821 "getBalances() actNotFound"
Hello, i have this:
[code]
And i have this error:
![imagen](https://user-images.githubusercontent.com/11221009/34342192-ffa03db4-e986-11e7-8175-cf5d4642698f.png)

Any idea?

Thanks

[2017-12-26 04:36] sharafian commented on #821
Can you also post the code that calls this function? What parameters are you passing in?

[2017-12-26 15:01] prinick96 commented on #821
I solved this, **actNotFound** error means when ipple account don't exists because don't are active with 20 XRP.

[2017-12-26 15:01] #821 closed

[2017-12-26 15:05] prinick96 opened #822 "how to send many transactions"
I need this.

Ripple account (A) send one transaction.
Ripple account (B) reciebe a % of this transaction.
Ripple account (C) reciebe another % of this transaction.

This is possible?

[2017-12-26 18:51] sharafian commented on #822
Because Ripple is based around accounts instead of UTXOs (which allow several inputs and outputs), it's not possible to do that with one transaction. You can implement identical behavior by just submitting two separate transactions, though.

[2017-12-26 21:12] prinick96 commented on #822
Hello, thanks for help.

[2017-12-26 21:12] #822 closed

[2017-12-26 21:25] prinick96 opened #823 "Counterparty and another balances with different currency of XRP"
Hi, i have a question and don't find the response in Ripple api, sorry for my bad english:

When i get the balances of an ripple addres, with `getBalances('the address')`, i get then a json with multiple balances in multiples currencies besides xrp

Like this
[code]
1. **What is the meaning of these amounts?**
2. **I can send USD to my XRP Address?**
    - In this case, how i send USD to my XRP? O

[2017-12-27 12:41] pftq opened #824 "Compiled JS with Releases"
Can you attach the compiled full and min js files with each release? It is a bit cumbersome to set up node.js and github each time to get the latest ripplelib file.

[2017-12-27 15:31] prinick96 commented on #824
You only need NPM and:
[code]
Config your app, with Express by example and
[code]
That's all

[2017-12-27 15:40] pftq commented on #824
Right but for those who don't have a linux machine ready to go, it would be helpful to just have the already compiled JS files included in the release attachments.

[2017-12-27 23:30] theogravity commented on #824
I think the OP meant for use within the context of a browser, not node.

[2017-12-29 05:48] intelliot commented on #824
Here are the instructions for building a browser-compatible version of RippleAPI: https://ripple.com/build/rippleapi-beginners-guide/#build-instructions

@pftq Does this help?

I hesitate to include this with the releases because, as mentioned above, RippleAPI can also be used with node. We would be open to doing this (and calling out that it's a browser build) if there's demand for it, however.

[2017-12-29 07:40] pftq commented on #824
It's not helpful to keep receiving instructions on compiling the build myself.  I am well aware of how to do so.  My request was to have it already included with the release of each version to save time for developers not using node.js

By not doing this, you are forcing a prerequisite right now of every developer wanting to use library having to also learn and set up a Linux machine, when having

[2017-12-29 07:50] intelliot commented on #824
@pftq Thanks for clarifying. Actually, there is no need to set up or use a Linux machine; Node.js is available for Windows and Mac. I actually build ripple-lib on a Mac.

Still, this is a good idea. I'll build the library and upload it shortly. Thank you for the suggestion!

[2017-12-29 08:03] KapilAsrani opened #825 "tecPATH_PARTIAL - Path could not send full amount."
Hi, My application using ripple-lib 17.3 was working fine. We were able to transfer XRP to XRP, USD to EUR & EUR to USD but suddenly ripple is giving tecPATH_PARTIAL & 'Path could not send full amount' issue instead of tesSUCCESS in the case of USD to EUR & EUR to USD transfer. XRP to XRP transfer is working fine.

[2017-12-29 08:34] pftq commented on #824
Thank you - you are correct that node.js can be compiled on Windows, but I think you get the point that it would make the library friendly to a wider audience of web developers.

[2017-12-29 09:53] intelliot commented on #824
The [0.17.9 release](https://github.com/ripple/ripple-lib/releases/tag/0.17.9) has been updated with the built JS files, and the SHA checksums for these files can be viewed in the [changelog](https://github.com/ripple/ripple-lib/blob/develop/HISTORY.md).

How does this look?

[2017-12-29 10:18] pftq commented on #824
Great - that's perfect, thanks.  This will be very helpful.

[2017-12-29 19:54] #824 closed

[2018-01-03 00:24] mDuo13 commented on #812
I've been pushing for a while to get rippled to define JSON Schemas for requests and responses so it could validate input and output. That's not so easy with the way rippled's RPC code is currently architected. But if we did, then yeah, the docs site could easily generate response/request tables from said schemas; the code to do that already exists.

[2018-01-03 01:51] tbcooney commented on #768
@ydlee1227 Did you ever find the prior Ripples?

[2018-01-03 03:32] sublimator commented on #812
@mDuo13

It would totally be a worthwhile project, getting the schemas in place for the rippled api, even if they didn't use them to validate right away.

[2018-01-03 09:41] sublimator commented on #812
The API layer should be separated from rippled. I think things would move a lot faster if you had "dumb" peers (speaking to rippled via binary) implemented in some higher level language, where the integration guys could actually dogfood the API.

As flawed as this "wash over the rippled api quirks" approach was, it was done for a reason. There's a bunch of inconsistencies in the rippled api.

[2018-01-03 10:28] sublimator commented on #812
With a plugin architecture or course ... for community commands ...

[2018-01-03 10:29] sublimator commented on #812
But that would be way too cool and make too many people happy

[2018-01-07 20:43] emilbaekdahl commented on #775
How so? I have built the single JS file according to the [instructions](https://ripple.com/build/rippleapi-beginners-guide/#build-instructions) but I get `_ is not defined` even though I import `lodash` before `ripple-lib` - like so
[code]
How is this done properly, @intelliot ?

[2018-01-08 20:51] mannutech commented on #809
This thing was not on their official documentation at all.
Thanks for saving

[2018-01-10 21:01] intelliot commented on #817
@thomsonimjd Closing this issue now. Let us know if you have any other questions.

[2018-01-10 21:01] #817 closed

[2018-01-10 21:03] intelliot commented on #818
@TXien Hopefully the above answer resolved your issue. Feel free to let us know if it did not.

[2018-01-10 21:03] #818 closed

[2018-01-10 21:05] intelliot commented on #819
Thanks for pointing this out. It would be good to improve that error message.

[2018-01-10 21:11] intelliot commented on #823
@prinick96 Thanks for the questions.

1. These are the account's balances in various currencies. The XRP Ledger supports issued currencies, which are typically tied to holdings of currency or other assets outside the XRP Ledger. [Read more about issued currencies](https://ripple.com/build/money-xrp-ledger/#issued-currencies).

2. Yes. Set the currency when specifying the [amount](https://ripple.co

[2018-01-10 22:26] mDuo13 commented on #825
From [the documentation](https://ripple.com/build/transactions/#tec-codes):

That generally means that the liquidity is no longer available. Your payments were probably consuming USD/EUR and EUR/USD offers (for whatever issuers you were using), and now the offers are not available at the rates you want, so the payments are failing.

[2018-01-11 02:39] TXien commented on #818
thanks, its resolved.

[2018-01-15 08:52] allmaxgit commented on #775
I have *Super expression must either be null or a function, not object* error.

[2018-01-17 03:13] icemilo opened #829 "Validation Error for Payments"
Hi there,
There is one validation error which is very strange that I saw today. I was unable to find the cause for this error. There were two payments, but with same JSON object when preparing payment.

First payment object
```{"source":{"address":"*****x4K1tCcDxgPTyuqJY56sZcj8DtXvD","amount":{"value":"30","currency":"XRP"}},"destination":{"address":"*****Ju1Rvmbq476Y7PDnvnXUeERV9CxEQ","minAmount"

[2018-01-26 20:54] jnr101 opened #835 "v0.18.0 returns different value in orderbook as in v0.17.9"
Hello,

I am testing v0.18.0, but I find a difference on some of the returned orderbooks.
The script I am running:

[code]

Running under v0.17.9 returns:

[code]

Running under v0.18.0 returns:

[code]

The value for v0.17.9 is consistent with current values, v0.18.0 seems to be wrong.
I am running node v9.2.0

n.b. Could this be autobridge values? Are they calculated correct? They don't seem to

[2018-01-26 21:05] intelliot commented on #829
Hi @icemilo ,

I don't see an issue with the JSON objects. If this error is reproducible, could you post an example of the code that you're using?

Thanks!

[2018-01-26 21:39] intelliot commented on #835
Hello @jnr101 ,

This looks like a bug to me. I found the change that causes this discrepancy and fixed it in https://github.com/ripple/ripple-lib/pull/836. I would appreciate if you'd like to review/test the fix.

Thanks for catching this!

[2018-01-26 22:28] jnr101 commented on #835
Hey intelliot,

I would like to, but I don't know how to build the ripple-lib. After "yarn install", what should I do next to get ripple-lib?

[2018-01-26 22:46] jnr101 commented on #835
Intelliot,

I did some tests with my software and values are matching now with previous values (from 0.17.9), so looks like it has been fixed :-)

[2018-01-27 00:06] #835 closed

[2018-01-27 00:08] intelliot commented on #835
Great!

For future reference, you can build for Node.js with `yarn compile` and the resulting JS files will be written in `./dist/npm/`. I'll add this info to the README as well.

[2018-01-27 09:03] jnr101 commented on #835
Did you also update the master?

[2018-01-27 13:36] Jacobth opened #838 "getFee, withdraw or deposit"
The getFee() method return the estimated fee for a transaction in ripple. But is this the fee for a withdraw or a deposit or both? Also is this the fee for withdraw/deposit ETH aswell?

[2018-01-27 18:32] intelliot commented on #838
This is the fee for any transaction on the XRP Ledger. However, I would recommend testing with different fee levels because it's usually not necessary to pay this fee if you are willing to wait a little longer.

Does that answer your questions?

[2018-01-27 18:41] kws4679 opened #839 "atomical multiple transaction support?"
Hello!!

Is there any way to run multiple transactions atomically? For example, when payer send some XRP to the payee, at the same time payer should send XRP to other payee like fee. Those two transactions should be run atomically. It seems that there is a function name "combine" but for different purpose.

Thanks!!

[2018-01-28 03:30] intelliot commented on #835
Not yet - I'll do that now.

[2018-01-28 09:17] Jacobth commented on #838
Thank you, it does!

[2018-01-28 18:21] MarkusTeufelberger commented on #839
You might be able to simulate such a behaviour by creating multiple Escrow objects with the same preimage-SHA256 and releasing them once they are all on the ledger. Even if one EscrowRelease transaction fails, it would be easily possible for anyone on the network to eventually release the funds.

Sounds like a lot of work, fees and ledger spam to me though, depends on the use case of course.

[2018-01-29 15:13] Zelest commented on #829
@intelliot:

[code]

The above code gives me the same error:

`[ValidationError(instance.payment.source is not exactly one from <sourceExactAdjustment>,<maxAdjustment>,instance.payment.destination is not exactly one from <destinationExactAdjustment>,<minAdjustment>)]`

[2018-01-29 18:11] #838 closed

[2018-01-30 02:30] icemilo commented on #829
Hi @intelliot, thanks for replying. We actually found out the cause for this issue where our address was wrong. The address got validated for the regular expression but could not decode using `ripple-address-codec` which was one of the validation steps. We found out that one of the alphabet in the address was not capitalized properly.

@Zelest Could you double check the address using `ripple-addre

[2018-01-30 18:04] Zelest commented on #829
@icemilo I'm not sure I use `ripple-address-codec` correctly, but if I try to decode the address and encode it back again, it generates the same address. Which I assume is correct?

[2018-01-30 18:33] intelliot commented on #829
@Zelest There are two issues with your code:

1) The `value` should be a string. In other words, you should use `'10'` (with quotes).
2) The property `destination.maxAmount` isn't part of the [Payment spec](https://ripple.com/build/rippleapi/#payment). Perhaps you meant to use `amount`?

Here's your code with the above changes applied:
[code]

Does that work for you?

[2018-01-30 19:45] Zelest commented on #829
@intelliot Oh! You're absolutely right and the above code works just fine! Thanks a lot! Note to self, avoid trying to write code with a 103 degree fever. 🤒

[2018-01-30 22:45] intelliot commented on #829
No problem! I'm glad to help, and I hope you feel better soon. I'll also have a look at making our documentation clearer :)

[2018-01-30 22:45] #829 closed

[2018-01-31 07:20] intelliot commented on #839
Hello @kws4679

For XRP specifically - no. You would need to do two separate transactions to send XRP to two different addresses. Of course, you could achieve this with an off-ledger system. For example, if you hosted your user's wallet, then you could deduct the fee from their balance on your own internal ledger/database.

@MarkusTeufelberger 's idea would work as well, depending on what you're t

[2018-01-31 07:20] #839 closed

[2018-02-02 00:25] intelliot commented on #823
I'm closing this issue now, but feel free to let us know if you have additional questions.

[2018-02-02 00:25] #823 closed

[2018-02-07 10:41] jnr101 opened #845 "Using maxFee always results in a fee equal to maxFee"
Hi,

I was playing around with the sample 'cancelall.js' to let it make use of maxFee (there were some complaints about that) and to try out some more fancy javascript. When I checked final results I found that whatever I put in the 'maxFee' field, it resulted in exactly this fee being used. I would expect most of the time a resulting fee of '0.000012'. Would this be a bug?

Edit: Actually, after

[2018-02-07 11:35] #845 closed

[2018-02-09 09:05] tuloski opened #848 "tefPAST_SEQ"
Hi,
sometimes the API, after it's connected for a while (days?) returns tefPAST_SEQ on all transactions.
My rippled was synced with the network since other API instances were working well. It seems like it fails to get the last sequence number.
I don't know how I can debug and reproduce it to help understanding the cause. If you have any idea I can test.

[2018-02-10 12:31] mannutech commented on #809
I figured it  out as per the latest build :
[code]

Hope should work for you.

[2018-02-11 16:57] intelliot commented on #848
1. Get the next sequence number for the account (perhaps use `getAccountInfo()` for this)
2. Look at the sequence number used for the transaction that failed (perhaps look at the `Sequence` property)

Alternatively, could you share a test script that reproduces the issue? You can email it to me directly if it's too large to share here.

[2018-02-11 17:22] tuloski commented on #848
Ok, I'm trying to get the sequence of the transaction and of the account. I'll try that before sending scripts to test.

[2018-02-17 07:06] thomsonimjd commented on #817
@intelliot It's working perfectly now, but the thing is I am not able to get transacion hash(tx) in return, I could get onlly status code and status message instead

[2018-02-19 21:44] intelliot commented on #817
@thomsonimjd I'm not sure what you mean. If the problem persists, feel free to open a New Issue here on GitHub.

[2018-02-20 04:42] thomsonimjd opened #854 "Not able to get tx hash after sending xrp"
`router.post('/sendRipple', (req, res)=>{

    var fromAddress = req.body._fromAddress;
    var toAddress = req.body._toAddress;
    var balance = req.body._balance;
    var secret = req.body._privatekey;

    console.info('fromAddress: '+fromAddress);
    console.info('toAddress: '+toAddress);
    console.info('balance: '+balance);
    console.info('secret: '+secret);

        // const address =

[2018-02-20 04:43] thomsonimjd commented on #817
I have oppend a new issues #854 please see to that.

[2018-02-20 17:58] sharafian commented on #854
The transaction hash can be found in `signedPreparedTransaction.id`

[2018-02-21 04:20] astone123 commented on #775
I'm having trouble importing this library into my React Native project. I'm getting an error that `node_modules/ripple-lib/dist/api.js` is trying to require a module called "event" that does not exist in the module map.

This is how I'm importing
`import { RippleAPI } from 'ripple-lib';`

Not sure if this is a React Native issue or an issue with this library. Is anyone else having this problem?

[2018-02-22 19:24] FredKSchott commented on #775
I'm not familiar enough with react-native to debug this too deeply, but it looks like Node.js/NPM packages aren't completely plug-and-play on react-native. For example, `"events" module not found` is because "events" is a Node.js core module, so it makes sense that this would fail when run outside of Node.

It would be great if someone with more react-native experience could give some guidance her

[2018-02-23 19:05] N3TC4T opened #855 "ValidationError in getTransactions"
Getting transactions for specific account works find without "start" option but after including the "start" param I'm getting below error :

`instance.options is of prohibited type [object Object]`

-----------------------------------------------------------------

Works Fine :

`{minLedgerVersion: 5978794, maxLedgerVersion: 6963598, limit: 5}`

Getting Error :
`
{minLedgerVersion: 5978794, maxLed

[2018-02-24 01:27] intelliot commented on #855
`start` cannot be used in conjunction with `minLedgerVersion` or `maxLedgerVersion`. The schema rule for this can be found here:

https://github.com/ripple/ripple-lib/blob/ca74cf1/src/common/schemas/input/get-transactions.json#L58-L63

[2018-02-24 17:06] N3TC4T commented on #855
That's works fine after removing 'minLedgerVersion' and 'maxLedgerVersion' when I include 'start' .

Thanks @intelliot .

[2018-02-24 17:06] #855 closed

[2018-03-02 22:04] intelliot opened #862 "TypeScript declaration files are generated for browser build"
The browser build of ripple-lib is also getting TS declaration files in `./build/dist/npm/`. We don't want this, right?

[2018-03-06 06:27] FredKSchott commented on #862
Huh, that's weird. It looks like webpack tries to follow your tsconfig file, so it thinks it should also generate type definitions.

I'm not sure if there's a way to get these definitions working with a source map, lets just disable for now.  PR here: https://github.com/ripple/ripple-lib/pull/864

[2018-03-07 19:34] #862 closed

[2018-03-08 11:59] darkmemo opened #866 "Payment type is not conforming to validation schema"
`Payment` type is defined as (https://github.com/ripple/ripple-lib/blob/develop/src/transaction/payment.ts)

[code]

`source-adjustment.json` and `destination-adjustment.json` schemas are defined as;

[code]

When payment object is created like;

[code]

validation fails with:

This failure is reasonable due to schema, since it requires _one of_ `sourceExactAdjustment` and `maxAdjustment` etc.

Wh

[2018-03-08 12:01] darkmemo commented on #866
Before typescript conversion, it seems source and destination were union types;

https://github.com/ripple/ripple-lib/blob/5979ff6197252be89ae56532537fd7b62f831080/src/transaction/payment.js#L14-L16

[2018-03-08 12:06] sublimator commented on #866
Looks like a mistake and should be a union ( OR )  indeed

Is the test suite not converted to TypeScript yet?

[2018-03-08 12:09] sublimator commented on #866
Hrmmmm, seems not

[2018-03-08 15:12] tuloski opened #867 "No tfSell in prepareOrder"
There is no option to enable the tfSell flag in prepareOrder, or it is missing in the documentation.

[2018-03-08 17:35] tuloski commented on #867
Actually I noticed the tfSell flag is already automatically on for every order.

[2018-03-16 18:00] FredKSchott commented on #866
Ah, yes this looks like a mistake made during the TS conversion. @darkmemo any interest in creating a PR to change `&` to `|`?

[2018-03-19 07:32] darkmemo commented on #866
@FredKSchott: sure.

[2018-03-20 18:26] #866 closed

[2018-03-24 15:50] JJNET opened #874 "How to get all created accounts of my rippled without DATA api?"
I can't find RippleAPI to get all accounts created by my rippled of server.

How can I get all accounts created by function "generateAddress" of RippleAPI?

If impossible, Can I dynamically add account for subscribing & unsubscribing?

It is very important to manage huge accounts of crypto exchange in order to operate without suspension or shutdown websocket subscribing server.

cf)
I wrote this c

[2018-03-26 02:02] AdvancedStyle opened #875 "Question: Validate Account format"
I'm looking for a simple way to validate an account format (without having to connect to a server).

For example something like this (not correct attempt just an example of what I'm trying to do):

[code]

[2018-03-26 02:53] sublimator commented on #875
Check out ripple-address-codec module. It has is*Valid methods

[2018-03-26 03:07] AdvancedStyle commented on #875
Thanks, here's my final script if anyone else needs it:

[code]

[2018-03-26 03:07] #875 closed

[2018-03-27 07:51] JJNET commented on #874
Hi @intelliot

I know that. And I know DATA api can do it. by https://ripple.com/build/data-api-v2/#get-accounts
(But, It doesn't support RippleAPI maybe.)

So I have a plan to solve this problem.

If Node.js server receive "generateAddress" command via client,
then I call  'subscribe' command at the same time.

But, I don't know it is possible or not. Because one side of forked daemon have to sub

[2018-03-27 08:07] JJNET commented on #874
@intelliot

And I surprised that Exchanges typically use 1 or 2 hot/cold accounts. Really?
Bitcoin or Ethereum use as much as members' counts.

[2018-03-27 13:19] JJNET commented on #874
Hi @intelliot

I just put the program into the concept as I said above and just tested it. It works well.
But there's a fatal problem. If I stop Node.js daemon, All addressed accounts was lost.

It looks like registered subscribe accounts are managed by Node.js other than rippled itself.

[2018-03-28 02:12] mDuo13 opened #876 "getTransaction of CheckCreate should report Check ID"
One of the most important things to know about a CheckCreate transaction is the ID of the Check object created in the ledger data as a result of the transaction. In fact, you need this value to cash or redeem the check. **It appears there is not currently a documented way to get the checkID using RippleAPI.**

The `getTransaction()` method of RippleAPI does not expose this information in a useful

[2018-03-28 02:15] mDuo13 commented on #876
I believe that Payment Channels have the same problem. The response for PaymentChannelCreate could include a similar field. (The RippleAPI paymentChannelClaim and paymentChannelFund objects require the ID in the `channel` field.)

[2018-03-28 07:07] intelliot commented on #874
@JJNET Correct - the XRP Ledger uses an account-based ledger, different from Bitcoin/Ethereum. Each account has reserve requirements (currently 20 XRP), making it cost-prohibitive to create an account for each member. Instead, a few accounts will suffice.

No, the destination tag is not the address. You can read more about destination tags here:

- https://ripple.com/build/gateway-guide/#source-an

[2018-03-28 07:39] intelliot commented on #876
Thank you for bringing this up!

The way I've been doing it so far is by sending the raw `account_objects` command (mentioned by Fred [here](https://github.com/ripple/ripple-lib/pull/853#issuecomment-367793590)). Adding first-class support for account_objects is in progress.

I've also been able to calculate the CheckID "offline" according to the documented [format](https://ripple.com/build/ledger

[2018-03-29 08:52] zeshanvirk opened #878 "Unable to get address balance using api.getBalances"
i generated an address using **api.generateAddress()** and then i pasted that address in getAddressbalances method like

**const address = 'rsX9LUYW217P2HgNXKMwwThPzpqhajahZ7';**

 api.getBalances(**address**).then(**balances** =>
        {
            console.log(**balances**);
        });

but i got this error print on console
**(node:1260) UnhandledPromiseRejectionWarning: Unhandled promise rej

[2018-03-29 14:16] zeshanvirk opened #879 "getTransactions error"
Trying this code to get list of transactions but getting the error:
[code]

**UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): [MissingLedgerHistoryError(Server is missing ledger history in the specified range)]**

[2018-03-30 17:26] intelliot commented on #879
Hi @zeshanvirk -

This error means that the rippled server doesn't have full ledger history. Which rippled server are you connected to?

Here are some ways to address the issue:

If you only need to get transactions within a certain range, use `getServerInfo()` and look at the `completeLedgers` field. Ensure that you're getting transactions for a range that the server has. For example, if you see:

[2018-04-02 13:09] enVolt opened #880 "SchemaError: no such schema </tag>"
Hi, I'm getting error, when using `preparePayment`. This was working fine earlier, but started to happen after I updated all the node modules.

Here is the code snippet -

[code]

Here is the version tree for Ripple and it's submodules -
[code]

Stack Trace of the Error -
[code]

I'm absolutely certain, that the following code used to work. It only started to happen once I updated all the modules.

[2018-04-02 22:07] FredKSchott commented on #880
+1
On Mon, Apr 2, 2018 at 2:23 PM Elliot Lee <notifications@github.com> wrote:

[2018-04-03 05:13] enVolt commented on #880
I'm using npm (version - 3.10.10). I did `npm i jsonschema@1.2.2`, which also updated the child module version.

Tree is now this  -
[code]

And yes, this is working fine now.

[2018-04-07 01:40] awwright commented on #880
I noted in https://github.com/tdegrunt/jsonschema/issues/253 that `/tag` isn't a valid URI (it's a URI Reference, though). Try prepending a valid URI, like `vnd.jsonschema:///` instead of just `/`.

[2018-04-09 18:54] #880 closed

[2018-04-10 18:15] dappelt opened #884 "upgrade https-proxy-agent"
The version of `https-proxy-agent` used by ripple-lib is vulnerable. Details on the vulnerability can be found [here](https://snyk.io/vuln/npm:https-proxy-agent:20180402).

The recommended remediation is to upgrade to https-proxy-agent@2.2.0

[2018-04-10 20:00] dappelt commented on #884
fixed in https://github.com/ripple/ripple-lib/pull/883

[2018-04-10 20:00] #884 closed

[2018-04-12 23:25] sharafian opened #885 "Websocket causes process to crash"
[code]

[2018-04-14 19:08] intelliot commented on #885
@sharafian How can I reproduce this error?

Looking at ripple-lib 0.21.0 -

`at RestrictedConnection.<anonymous> (/Users/sharafian/Documents/prog/moneyd/node_modules/ripple-lib/dist/npm/api.js:101:16)`
Line 101 looks like:
`this.getAccountInfo = accountinfo_1.default;`

`at WebSocket.<anonymous> (/Users/sharafian/Documents/prog/moneyd/node_modules/ripple-lib/dist/npm/common/connection.js:225:18)`

[2018-04-14 19:09] intelliot commented on #879
@zeshanvirk I'm closing this issue, but please let us know if you'd like more assistance.

[2018-04-14 19:09] #879 closed

[2018-04-14 19:36] intelliot commented on #878
Hi @zeshanvirk -

The XRP Ledger has an entry for each account that has been activated (created). When you generate an address, the account has not yet been activated. It's only secret/address pair on your local machine.

To activate the account on the XRP Ledger, you need to send at least 20 XRP to the address. Sending 20 or more XRP to the address will automatically activate it.

XRP Test Net ad

[2018-04-14 22:48] sharafian commented on #885
After leaving any ripple-lib application open for a while, the socket emits the error. Would this happen if the connection drops?

[2018-04-16 05:00] zeshanvirk commented on #879
i'm using ripple public server, s2.ripple.com

[2018-05-01 05:05] devnullinator opened #888 "npm install -g moneyd fails on Win64"
Installed new node.js version 10.  Ran "npm install -g moneyd".  Is Python a dependency?
Log:  "Can't find Python..."  Attaching debug log.
[2018-05-01T05_02_50_814Z-debug.log](https://github.com/ripple/ripple-lib/files/1963025/2018-05-01T05_02_50_814Z-debug.log)

[2018-05-01 05:26] devnullinator commented on #888
Installed Python, uninstalled with npm uninstall -g moneyd, Reran installer.  Do not see python error now, but script still failed.  Nothing obvious in log...
[2018-05-01T05_22_50_075Z-debug.log](https://github.com/ripple/ripple-lib/files/1963046/2018-05-01T05_22_50_075Z-debug.log)

[2018-05-01 05:28] devnullinator commented on #888
Inadvertantly closed issue.

[2018-05-01 16:32] sharafian commented on #888
Thanks for leaving this feedback! Python is a dependency of [Node-Gyp](https://github.com/nodejs/node-gyp), which is required for building native node modules. If you installed python and it still isn't working, you're likely missing some other dependencies of node-gyp. [Complete instructions are in their repository](https://github.com/nodejs/node-gyp#on-windows).

If you run into any further prob

[2018-05-03 15:36] intelliot commented on #885
I've been running a ripple-lib app for about a day now, and I haven't seen this error yet.

Here's the boilerplate for handling disconnects:
[code]

When the rippled server is closed normally (control+c to kill rippled with signal SIGINT), I get code `1000`. When I use `kill -9 [pid]`, I get code `1006`.

[2018-05-04 04:27] bazooka70 opened #889 "How to get notification via Websocket subscribe when receiving funds to account"
When I try to use [`subscribe`](https://ripple.com/build/rippled-apis/#subscribe) api to track transactions for account(s) e.g.:

[code]
I only get notified when **sending** tx from the accounts. How can I get notifications when **receiving**
funds to the accounts?

[2018-05-04 05:33] intelliot commented on #889
Hi @bazooka70 -

I think this subscription should provide notifications for both sending and receiving funds, along with other types of transactions affecting the account(s).

If not, can you share a specific example?

Note that you'll need to have a registered handler for transaction stream messages (`"type": "transaction"`).

[2018-05-04 14:47] intelliot commented on #889
1. You created this issue in the `ripple-lib` project, so I thought you were using `ripple-lib`: https://github.com/ripple/ripple-lib

You may want to move this issue to `rippled` instead: https://github.com/ripple/rippled

2. If you want to only get notifications when specific addresses are sending and receiving funds, do not subscribe to the `transactions` stream. According to the documentation,

[2018-05-04 16:44] bazooka70 commented on #889
@intelliot Thanks a million. I must have came to the wrong conclusions in my tests yesterday.
Now, It works like you describe and expected.

I don't think it makes such a difference if I'm using Web sockets in c# instead of the ripple-lib js implementation. the results are the same for the api :)

You have been very helpful.

[2018-05-04 16:44] #889 closed

[2018-05-05 14:12] zeshanvirk opened #890 "MissingLedgerHistory"
I'm using ripple testnet server wss://s.altnet.rippletest.net:51233  and when i try to get allTransactions against an address i got MissingLedgerHistoryError. When i try to get a transaction by id, i got it successfully. Whats the issue?

[2018-05-05 16:09] tuloski commented on #890
By allTransactions you mean using getTransactions?

[2018-05-05 19:55] zeshanvirk commented on #890
yes.

[2018-05-06 04:56] bazooka70 commented on #889
@intelliot , Do you know by chance what is the limit of subscription accounts I could use in the accounts array?

[2018-05-06 18:52] devnullinator commented on #888
Thanks Ben,

I ended up following more complete instructions on the site itself.  I
installed the default windows tool set and that got things to work:
npm install --global --production windows-build-tools.

Russ

On Tue, May 1, 2018 at 9:32 AM, Ben Sharafian <notifications@github.com>
wrote:

--
Russ

[2018-05-07 15:45] intelliot commented on #890
Hi @zeshanvirk -

The testnet server does not have full history. You can use `getServerInfo()` and look at `completeLedgers` to see how much history is available. When using `getTransactions`, use `minLedgerVersion` and `maxLedgerVersion` to specify the range of ledgers to get transactions from.

[code]

[2018-05-08 00:16] intelliot commented on #889
I do not know of a limit. If you find one, please feel free to tell us about it here.

[2018-05-08 06:29] fsanano opened #891 "Try .getBalance() for list of addresses"
Hi, in my app I try .getBalances() in loop, for list of addresses, but get this error:
[code]

my code :
[code]
but when I get SINGLE address balance it work good.

[2018-05-08 06:54] fsanano commented on #891
Also I try change my method like this:
[code]

[2018-05-08 09:55] Afroj01 commented on #880
Sir I request my 264 ripple recover my wallet

[2018-05-08 11:05] fsanano commented on #879
I also catch this bug, but when I add minLedgerVersion and maxLedgerVersion from api.getServerInfo(), catch another error:

[code]
I use testnetwork wss://s.altnet.rippletest.net:51233
But I adjusted it to the touch. Change the minLedgerVersion and maxLedgerVersion type from String to Number.
And I'm writing this so others can solve this problem faster.
And the request to the developers to change

[2018-05-08 11:33] zeshanvirk commented on #879
Share the code that works for you

[2018-05-08 11:37] fsanano commented on #879
[code]

[2018-05-08 20:50] intelliot commented on #885
I kept moneyd running for about 4 days and did a few example SPSP payments. The process did not appear to crash.

[2018-05-08 21:01] tuloski commented on #885
@intelliot did you play quake III for 4 days? :)

[2018-05-08 22:05] #799 closed

[2018-05-09 00:25] sublimator commented on #885
Haha

[2018-05-09 12:11] fsanano commented on #891
That method iterate, ok show all code.
[code]

[2018-05-09 16:36] tuloski commented on #891
Are you sure you are passing to rippleFetchWalletBalance only a string (the address) each iteration?

[2018-05-09 16:38] sharafian commented on #891
Can you try awaiting api.connect before you make any calls to `rippleFetchWalletBalance`?
My theory is that you're accidentally getting some undefined values due to ripple lib's connection logic.

The error you're seeing is thrown here: https://github.com/ripple/ripple-lib/blob/develop/src/api.ts#L96

So somewhere in your request it's requesting a `ledger_index` of `null`. Probably being triggered

[2018-05-10 21:01] sharafian commented on #885
I put in a log line to see what the error is. It looks like in the connection class, the websocket is timing out but the error is being re-emitted all the way out of the module. I think if it encounters such an error it should just retry the connection.

[code]

Maybe your process isn't crashing because your computer hasn't gone to sleep, or the internet has never had to reconnect? I still haven't

[2018-05-10 22:43] #888 closed

[2018-05-12 16:38] #687 closed

[2018-05-18 17:36] intelliot commented on #770
@kuyawa that’s a good idea. I think it might be even cleaner to expose the methods on `api` directly. Also, what do you think of https://github.com/ripple/ripple-lib/pull/830 ?

Want to contribute a PR? :)

[2018-05-18 17:47] pftq commented on #770
That's the reason for the 4 lines I suggested (to expose it through the api
variable).

On Fri, May 18, 2018 at 10:36 AM, Elliot Lee <notifications@github.com>
wrote:

[2018-05-18 17:55] kuyawa commented on #770
Regarding #830 "Add ability to derive address from secret" exposing the keypairs module would allow to manage keys easily depending on the needs. I agree on allowing to derive the publick key from the secret so we don't have to ask for both pieces of information, which is the issue I am facing right now as a wallet developer, so a simple api.keypairs.deriveKeypair(secret).publicKey would suffice.

[2018-05-23 06:06] thomsonimjd opened #899 "How to empty ripple balance"
I have a riplle account which has 10000 xrp which I would like to empty the wallet, in the sense want transfer all the balance to another account. So currenty the transaction fee is 0.000012, (total balance - transaction fee), so I have to send the remaining amount, the the account would have 0 xpr right.

I tried this, I could not empty the account.  Please let me know any other chances to work o

[2018-05-23 07:07] intelliot commented on #899
The account cannot be emptied to 0 XRP due to the [reserve requirement](https://developers.ripple.com/reserves.html). If your account does not own any objects (such as offers), then the current minimum reserve requirement is 20 XRP.

So in your case, you should be able to send up to 9980 XRP minus fees.

[2018-05-24 00:38] biniama opened #901 "terPRE_SEQ - Missing/inapplicable prior transaction"
I would like to implement a PAYMENT from one address to another using a test network and test accounts.

I am getting `terPRE_SEQ - Missing/inapplicable prior transaction` and I couldn't get the solution. Please help solve the issue and feel free to refactor the code.

Here is the code and the output.
_NOTE: I added 4 to the ledgerVersion based on https://developers.ripple.com/reliable-transaction

[2018-05-24 18:26] wilsonianb commented on #901
Hi @biniama
You shouldn't need to add 1 to the sequence number returned by `getAccountInfo`
https://github.com/ripple/ripple-lib/blob/develop/docs/index.md#getaccountinfo
That sequence is `The next (smallest unused) sequence number for this account.`

[2018-05-24 23:13] biniama commented on #901
Thanks @wilsonianb. Now, I got the following reply.
[code]

[2018-05-27 01:23] LuoRyan opened #903 "When concurrency is used for more than 100 times, API will report "websocket was closed""
errors:
Q1.when concurrent users increase(maybe 100users/s),I recevied many errors from RippleAPI  instance,like this:

wsreqid=e2c60d6fcd9c48dbad8be0f5cb71a9c6||onUpdateBlockError||code=||message=websocket was closed||stack=[DisconnectedError(websocket was closed)]
at WebSocket.onDisconnect (/data/wallet/xrp/node_modules/ripple-lib/dist/npm/common/connection.js:370:24)
at Object.onceWrapper (even

[2018-05-27 08:45] LuoRyan commented on #903
@intelliot
Can you help me to see it? Thank you

[2018-05-27 21:04] intelliot commented on #903
What rippled server are you using? Are you running rippled yourself? If the server disconnects you, you’ll get that error.

[2018-05-28 01:13] LuoRyan commented on #903
yes, I run the rippled server locally(should be Stock server mode).The rippled.cfg is:
`[server]
port_rpc_admin_local
port_peer
port_ws_admin_local
#port_ws_public
#ssl_key = /etc/ssl/private/server.key
#ssl_cert = /etc/ssl/certs/server.crt

[port_rpc_admin_local]
port = 5005
ip = 0.0.0.0
admin = 127.0.0.1
protocol = http

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[port_ws_admin_local

[2018-05-28 03:11] intelliot commented on #903
I recommend using a single connection to rippled, no matter how many users your site has. There’s no need to disconnect.

[2018-05-28 08:08] LuoRyan commented on #903
@intelliot
OK，I will use a single connection to rippled, thanks~~

I see this info at: https://developers.ripple.com/rippled-server-modes.html#properties-of-a-good-validator
`Stock server - follows the network with a local copy of the ledger.`
`Validating server, or validator for short - participates in consensus.`

As an exchange, we need history ledger data and sumbit payment.(At present, the St

[2018-05-28 08:15] intelliot opened #904 "Address format including destination tag"
For exchanges and hosted wallets, it would be useful to have a "packed" address format that includes and encodes the destination tag.

See https://github.com/ripple/ripple-address-codec/issues/7

[2018-05-28 08:16] intelliot commented on #903
Stock server is the correct mode to use.

[2018-05-28 09:14] LuoRyan commented on #903
@intelliot
Thank you very much~~~

[2018-05-29 06:54] LuoRyan commented on #903
@intelliot
Do you know how to configure the rippled server to get historical ledger?(I got this error from my local rippled server "Server is missing ledger history in the specified range")
I use these commands, but there is no historical ledger in the server_info result.

`
rippled ledger_cleaner 38996182
rippled ledger_request 38996182
`
server_info:
`
{
    "result": {
        "info": {

[2018-05-29 09:12] MarkusTeufelberger commented on #904
There used to be this: https://wiki.ripple.com/Ripple_URIs

[2018-05-29 09:16] sublimator commented on #904
Nail it up and get the money!

[2018-05-29 09:17] MarkusTeufelberger commented on #904
What money?

[2018-05-29 11:53] sublimator commented on #904
It's an expression from the building industry. Quit the hand wringing and just get it done type thing ... Nail it up and get the money!

[2018-05-30 15:53] #901 closed

[2018-06-01 03:49] yoyoyousei opened #905 "Create signedTransaciton locally"
Is there any method to create signedTransaction locally?

I want to create signed transaction without connection with ripple server.
like:
[code]

I already succeeded to create and send a signed transaction like the following snippet:
[code]

[2018-06-01 04:51] intelliot commented on #905
Yes. The sign() method works without a connection to a ripple server. You need to provide all of the transaction instructions like the sequence number, fee, etc.

[2018-06-01 06:59] yoyoyousei commented on #905
I understood preparePayment() need to connect internet to correct information of ripple network.
So if I correct information(like fee, etc) beforehand, no need to connect internet in signing.

I succeed to sign transaction like this snippet:
[code]

Thank you for your advice, @intelliot !

[2018-06-01 07:09] intelliot commented on #905
@yoyoyousei Cool - that works. Note that writing txJSON that way requires using the rippled API's transaction format. The `preparePayment()` and most other `prepare*` methods can be used offline if you specify the `fee`, `sequence`, and `maxLedgerVersion` parameters. See [Offline functionality](https://developers.ripple.com/rippleapi-reference.html#offline-functionality).

[2018-06-02 03:02] yoyoyousei commented on #905
@intelliot wow. So if `fee`, `sequence` and `maxLedgerVersion` are specified in `instructions`, txJson is generated in offline.
Thank you for additional information!

[2018-06-05 08:33] LuoRyan commented on #903
@intelliot
Can you help me to see it? Thank you
topo: AppUsers --->[http]--->koa2Server --->[one instance of RippleAPI]---->RippledServer(local)
**When a concurrent request is more than 100+, a request Hang up occurs for 446160ms**
code:
`let Remote                    = require("ripple-lib").RippleAPI;
let remote                    = new Remote({"ws://10.200.173.54:6006/",  6*1000,});
`

`async **

[2018-06-07 12:42] LuoRyan commented on #903
@intelliot
Is it possible that the websocket connection caused a memory leak?

[2018-06-07 16:22] intelliot commented on #903
It’s possible, but I don’t see evidence of a memory leak. Where do you see that?

[2018-06-09 20:15] jnr101 opened #906 "ValidationError(xrpToDrops: value '19792.80964382' has too many decimal places.)"
Hi,

just testing the 1.0.0-beta.2 and find the following 'breaking' change:

[code]

It [seems](https://github.com/ripple/ripple-lib/blob/1aa9feda715f792aa333d77e2ae577bb98191f3d/src/common/utils.ts#L81) the maximum is 6 decimals, which makes sense as that is the amount that leads to drops.
I can round it up in my own code to 6 decimals, but have you considered doing this in ripple-lib? I'm ok ei

[2018-06-09 20:48] intelliot commented on #906
Good catch. Do you read our release notes in HISTORY.md? This was mentioned under the `1.0.0-beta.1 (2018-05-24)` release.

Rounding is a nice idea though. Let me try how that change looks.

[2018-06-10 07:09] jnr101 commented on #906
Hi intelliot, you are correct, sorry, it has been described there as breaking change. I glanced over it at the time and after testing the code to find that things still worked ok after upgrade to `1.0.0-beta.1`. Strange enough the breaking effect seems to have gone live somehow after upgrading to version `1.0.0-beta.2`.

- _pro_ rounding in ripple-lib: calculations using dividing/multiply is very

[2018-06-11 05:31] intelliot commented on #906
How do you do the rounding?

We could simply truncate the value to 6 decimal places (which is what we did before 1.0.0-beta.1) or we could round up if it's at least halfway to the next drop (0.5 drops or higher).

Or, of course, we leave it as-is and not round.

[2018-06-11 20:22] jnr101 commented on #906
I round up if at least halfway to the next drop (0.5 drops or higher).  Come to think of it, that's exactly the arbitrary thing about it. If you leave it as-is then the api-user must decide for himself, so maybe that is the best thing to do in this case ..

[2018-06-12 18:23] intelliot commented on #809
In 1.0.0-beta.0 and later, [use the request() method directly (docs)](https://github.com/ripple/ripple-lib/blob/8833442b2bf8307e62b0944f188cdc7126f452df/docs/index.md#rippled-apis).

[2018-06-12 18:38] intelliot commented on #906
That makes sense. Thanks for opening the issue, and do let us know if you have other suggestions for improvements.

[2018-06-12 18:38] #906 closed

[2018-06-18 23:55] mDuo13 opened #908 "`threshold` should not be optional in Settings transactions"
When using the [Settings](https://developers.ripple.com/rippleapi-reference.html#settings) transaction to set up a multi-signing list, the `signers` object has an "optional" field `threshold`. This field maps to the required field `SignerQuorum` in the [SignerListSet](https://developers.ripple.com/signerlistset.html) transaction type.

If you don't specify the `signers.threshold` field when prepar

[2018-06-20 11:22] yoyoyousei opened #910 "Activation of Account"
I have some question about account activation.
I know here is not best place to question about specifications of ripple, but I couldn't get any response from ripple customer support...

My question is:
1. What is the difference between activated account and unactivated account?
2. What happen if the balance of my ripple account which once activated belows 20XRP?
3. Do XRP disappear when 10 XRP sen

[2018-06-20 15:37] wilsonianb commented on #910
hi @yoyoyousei
This page has information relevant to your question:
https://developers.ripple.com/reserves.html

Regarding 3, the transaction will fail with `tecNO_DST_INSUF_XRP`. You would pay the fee you specified in the transaction but would keep the 10 XRP.
https://developers.ripple.com/tec-codes.html

[2018-06-23 13:57] elmurci opened #911 "fee format when using maxFee"
Not sure if this is actually a bug as the field `maxFee` in the Transaction Instructions is now deprecated.
But it is surely a backwards compatibility issue.

I have seen that if you specify a `maxFee` value and don't make use of the `maxFeeXRP` field in the constructor (like in the old days) you get random validation errors as the calculated fee is not properly formatted:

`[ValidationError(xrpTo

[2018-06-26 08:10] intelliot commented on #911
Good catch! I opened a PR which should fix this.

Alternatively, if we want the old behavior back, https://github.com/ripple/ripple-lib/pull/907 would do that.

[2018-06-26 09:31] yoyoyousei commented on #905
@intelliot As you said,  I succeeded to get txJson in offline when I specified fee, sequence and maxLedgerVersion in instructions.

But, Because I want to create client-side ripple wallet, I want to get txJson not wrapped  by Promise.
Can ripple-lib expose (createPaymentTransaction)[https://github.com/ripple/ripple-lib/blob/develop/src/transaction/payment.ts] method?

[2018-06-27 06:32] intelliot commented on #910
1. An account becomes activated when it receives its first payment, and the payment must deliver at least the base reserve (currently 20 XRP).
2. "When an address holds less XRP than its current reserve requirement, it cannot send new transactions that would transfer XRP to others, or increase its own reserve." [(Source)](https://developers.ripple.com/reserves.html)
3. No.

Hope this helps! Let us

[2018-06-27 06:32] #910 closed

[2018-06-27 10:49] #905 closed

[2018-06-27 12:58] soichisumi opened #913 "Export createPaymentTransaction method"
I want to create transaction locally in a native environment (by caching fee, ledgerVersion and sequence).

But, because preparePayment function returns promise, my function using cannot be used in native environment.

Then I looked at the implementation of this function, and I found createPaymentTransaction is useful for creating txJSON sequentially.
Can ripple-lib export [createPaymentTransactio

[2018-06-28 03:59] yoyoyousei commented on #913
In the meanwhile, I constructing txJSON lite:
[code]

[2018-06-29 00:59] #911 closed

[2018-07-02 11:58] movitto opened #915 "Export schemaValidator as part of API and isValidAddress as part of schemaValidator"
Greetings! Related to #770, we're looking for a quick way to validate addresses & secrets. ripple-lib has this functionality built in via the mechanisms in $subject, but they are not exposed publically.

Yes ripple-keypairs has this functionality (and ripple-address-codec?) but those projects do not incorporate a 'gulpfile' so that they can be bundled for browser access! Having less experience wit

[2018-07-02 12:02] movitto commented on #915
In case anyone was wondering, to expose schemaValidator, I simply modified src/api.ts to remove 'schemaValidator' from the PRIVATE map:

https://github.com/ripple/ripple-lib/blob/develop/src/api.ts#L103

[code]

And added 'schemaValidator' to the 'RippleAPI' class properties below:

https://github.com/ripple/ripple-lib/blob/develop/src/api.ts#L308

`schemaValidator = schemaValidator`

---

Simply

[2018-07-12 03:32] xefdan3ms opened #917 "Can we create a gitter.im room for ripple-lib?"
Can we create a gitter.im room for ripple-lib? It could help build the community to have a place for veteran contributors and newcomers to discuss the ripple-liib project.

This would be created as a new room in the existing ripple community on gitter.im:
           https://gitter.im/ripple

So the room would be at this url:
           https://gitter.im/ripple/ripple-lib

[2018-07-18 04:12] spirinvladimir opened #918 "Legacy code "api.request" at docs. Docs should be updated."
api.request -> api.connection.request

[code]

[2018-07-18 05:37] spirinvladimir opened #921 "Is any test that cover trancaction subsription?"
I've tried a source code example from docs. But it does not work for me.

[code]

My setting is:
[code]

My code for fire trancaction event:
[code]

[2018-07-18 05:47] intelliot commented on #917
I think we can try this out. Thanks!

[2018-07-18 05:47] #917 closed

[2018-07-18 05:52] intelliot commented on #921
Which version of ripple-lib are you using?

If you're reading the docs for a beta version, you'll need to use a beta version of the library, e.g. `1.0.0-beta.3`.

[2018-07-25 08:47] intelliot commented on #918
The documented code works with version 1.0.0-beta.3 or later.

[2018-07-25 08:47] #918 closed

[2018-07-25 08:48] intelliot commented on #915
Would you like to create a PR?

[2018-07-25 08:48] #899 closed

[2018-07-25 08:53] intelliot commented on #876
[0.21.0 (2018-04-11)](https://github.com/ripple/ripple-lib/blob/develop/HISTORY.md#0210-2018-04-11) added `getAccountObjects` which includes Check IDs.

We can keep this issue open until I look into adding a method for generating CheckIDs offline.

[2018-07-27 19:31] movitto commented on #915
PR sent, thanks for taking the time to consider this.

[2018-07-27 19:32] movitto commented on #770
PR #923 opened which should resolve this issue.

[2018-07-28 00:02] intelliot commented on #913
@yoyoyousei Why can't you use the promise returned by preparePayment?

Promises should work in native environments.

[2018-07-28 03:30] yoyoyousei commented on #913
@intelliot I want to use ripple-lib in iOS app and JavascriptCore is used to call javascript functions.
But JavascriptCore seems not to handle promise-wrapped values.

[2018-08-07 10:15] hoangphuongcs opened #925 "GlobalBigNumber error"
I got an error, can you help me? thanks!
orderbookchanges.js:5 Uncaught TypeError: GlobalBigNumber.another is not a function
    at Object../node_modules/ripple-lib-transactionparser/src/orderbookchanges.js (orderbookchanges.js:5)
    at __webpack_require__ (bootstrap:767)
    at fn (bootstrap:130)
    at Object../node_modules/ripple-lib-transactionparser/src/index.js (index.js:8)
    at __webpack

[2018-08-07 17:25] wilsonianb commented on #915
As a follow up, should the exposed methods be added to the docs?

[2018-08-08 03:32] 0xngoubou commented on #925
Yes, i have really install bignumber.js verion 7.2.1 in my project **"my-project/node_modules/bignumber.js"**
And there is bignumber.js lib in "**my-project/node_modules/ripple-lib-transactionparser/node_modules/bignumber.js**", but "version": "4.1.0"
Please help me, thank you so much.

[2018-08-08 06:08] intelliot commented on #925
When building ripple-lib for use in a browser, you should use `yarn build` (or `npm build`) and use the file in the `./build/` directory.

The error looks related to a problem with importing bignumber.js. Can you upload or link to an example project which shows this problem?

[2018-08-08 06:10] intelliot commented on #925
It looks like you may be using webpack. If possible, please post your webpack config as well.

[2018-08-10 19:16] movitto commented on #915
@wilsonianb PR #927 sent

[2018-08-10 22:06] intelliot commented on #925
@0xngoubou I wasn't able to reproduce this error. I'll wait up to 1 week to hear from you before closing this issue. After that, you can re-open it if needed.

[2018-08-10 22:07] intelliot commented on #913
Changes needed on #922

[2018-08-10 22:09] intelliot commented on #903
@LuoRyan I'm closing this issue, but please let us know if you spot a memory leak.

[2018-08-10 22:09] #903 closed

[2018-08-10 22:10] intelliot commented on #891
I'm closing this issue, but feel free to open an issue or PR with an improvement to `api.connect`.

[2018-08-10 22:10] #891 closed

[2018-08-10 22:11] #890 closed

[2018-08-10 22:12] intelliot commented on #689
@jnr101 I like this idea. Would you like to propose a PR?

[2018-08-10 22:16] intelliot commented on #715
@chjcook Sorry for the long delay. I ran the code you posted above, and it worked fine for me. Please feel free to open a new issue if the problem persists.

[2018-08-10 22:16] #715 closed

[2018-08-10 22:17] intelliot commented on #729
@codedot What's your use case for `path_find`?

In the latest version of ripple-lib, you can use the `request` method to call any of the rippled APIs, including `path_find`.

[2018-08-10 22:28] intelliot commented on #749
Looks like this has been fixed. Feel free to open a new issue if the problem recurs.

[2018-08-10 22:28] #749 closed

[2018-08-10 22:32] intelliot commented on #758
This will also be available in an upcoming release of ripple-lib; see https://github.com/ripple/ripple-lib/blob/14704ee/docs/index.md#listening-to-streams

[2018-08-10 22:32] #758 closed

[2018-08-10 22:38] intelliot commented on #763
I believe this was fixed in 0.18.1 (2018-01-27). Please let us know if you find otherwise. Thanks!

[2018-08-10 22:38] #763 closed

[2018-08-10 22:42] intelliot commented on #766
Would you like to contribute a PR? 🙂

[2018-08-10 22:43] intelliot commented on #768
It looks like the XRP was sent and the account is active. However, please feel free to open a new issue if you spot a problem.

[2018-08-10 22:43] #768 closed

[2018-08-10 22:58] intelliot commented on #782
Sorry for the long delay in replying, but I like this idea. Would you like to submit a PR?

[2018-08-11 00:54] intelliot commented on #798
If the fee is not enough, the transaction may not be forwarded to other rippled nodes, and will not be processed (included in a validated ledger). In this case, no XRP will be taken from the account. The same applies to "maxFee". The fee will adjust dynamically up to the "maxFee" value.

Yes, setting maxFee is a good idea. And be sure to set it low enough that you don't spend more on fees than you

[2018-08-11 00:54] #798 closed

[2018-08-11 18:36] intelliot commented on #848
Thanks. I actually think that the most reliable way to send transactions is to track sequence numbers yourself. Then if you get tefPAST_SEQ, you know that either your account has been compromised, or your app logic is wrong - both situations that require manual intervention.

Closing this issue, but please feel free to open a new one if the problem persists.

[2018-08-11 18:36] #848 closed

[2018-08-11 18:38] intelliot commented on #817
The transaction hash is available _before_ you submit the transaction, in the `id` field returned by `sign`.

[2018-08-11 18:38] intelliot commented on #854
In other words, the transaction hash is available _before_ you submit the transaction, in the `id` field returned by `sign`.

[2018-08-11 18:38] #854 closed

[2018-08-11 18:40] intelliot commented on #867
With `prepareOrder`, if the order's `direction` is `'sell'`, then the Sell flag will be enabled automatically.

[2018-08-11 18:40] #867 closed

[2018-08-11 18:43] intelliot commented on #874
Since subscriptions are specific to one websocket connection instance, they are not persisted after the websocket is closed or disconnected. You'll need to have your own persistent storage to keep track of the accounts you care about. I'm closing this issue, but feel free to open a new one if you have additional questions. Thanks!

[2018-08-11 18:43] #874 closed

[2018-08-11 18:44] inmyth commented on #766
Sure. How much are you paying ?

[2018-08-12 21:10] tuloski commented on #782
I worked on that, but on the "parsing" side and it was a nightmare, even because not all the useful information are returned with getOrderbook.
I don't have the skills to work directly on the API. I'm a JS user only because it's the easiest way to interact with rippled :).

[2018-08-14 00:17] intelliot commented on #880
Using `vnd.jsonschema:///` didn't seem to make a difference. However, I'm not clear on how jsonschema works, so there might be something obvious going wrong. We can continue the discussion at https://github.com/tdegrunt/jsonschema/issues/253

[2018-08-14 10:17] 0xngoubou opened #929 "how to get secret from privatekey"
Hi, I have some code to get privatekey from 12 mnemonic.
So I don't know how to get secret?
The ripple-lib use secret to submit a payment.
Thank you so much!
[code]

[2018-08-15 02:27] #776 closed

[2018-08-21 05:15] codedot commented on #729
My use case for `path_find` used to be a market-taking bot. However, reimplementing that old piece of software using the new low-level method `request` seems to require too much work.

[2018-08-21 05:32] intelliot commented on #729
Is there an old path_find method that we can bring back?

I’ve only been working on ripple-lib for about a year so I’m wondering if you’re referring to something that was in an old version.

[2018-08-21 06:01] codedot commented on #729
In `ripple-lib@0.10.0`, there was a method called `pathFind` which provided a convenient enough interface for the `path_find` request.

[2018-08-21 06:48] surferwat opened #933 "ValidationError when running script for RippleAPI's escrowCreation transaction"
I am writing a script for an escrowCreation transaction using the RippleAPI and XRP Test Net Faucet.

When I go to run the script, I get the following error.

[code]

I am puzzled by this error message given that I am using the RippleAPI, not the rippled API. The RippleAPI escrowCreation transaction type takes the fields: amount, destination, allowCancelAfter, allowExecuteAfter, condition, destina

[2018-08-21 06:53] intelliot commented on #729
Ah, that was 3+ years ago. Yes, I think this is a great idea.

Anyone out there interested in contributing a PR? (@yxxyun?)

[2018-08-21 17:31] intelliot commented on #933
Good point about the mix-up between RippleAPI and the rippled API. I'll look at improving the error message.

- allowCancelAfter is equivalent to CancelAfter
- allowExecuteAfter is equivalent to FinishAfter
- At the allowCancelAfter time, the escrow is considered expired. This means that the funds can only be returned to the sender.
- At the allowExecuteAfter time, the escrow is permitted to be re

[2018-08-22 05:39] surferwat commented on #933
Yes, it does. Thank you for the explanation. I now better understand both allowCancelAfter and allowExecuteAfter. By specifying only allowExecuteAfter, the script runs without error. I will have to test out other scenarios.

[2018-08-25 08:11] luongquocdinh opened #937 "How to fix tefBAD_AUTH_MASTER"
I have domain authentication and get the ripple.txt file. It has an account and validation_public_key.

I use it for payment but error:
[code]

My code
[code]

I took the secret value as the validation_public_key value in the ripple.txt file. Was it right?

Help me

Thank you

[2018-08-25 14:25] tpoti10188 opened #938 "Improve Windows support"
NPM Install - Failed at the ripple-lib@0.22.0 prepublish script.

[2018-08-25T14_09_44_739Z-debug.log](https://github.com/ripple/ripple-lib/files/2320769/2018-08-25T14_09_44_739Z-debug.log)

[2018-08-25 17:05] intelliot commented on #938
Looks like you’re using Windows and ripple-lib 1.0.0-beta.5. I don’t have easy access to a Windows machine. Have you used ripple-lib before - did it work?

I’m guessing there may be a windows compatibility problem.

[2018-08-25 19:29] tpoti10188 commented on #938
Last week on my work computer I used it on another computer that is also
windows 10 and it worked fine. I was able to build the file now problem.

I guess I could send a copy of the file from my other machine but didn't
realize it was only supported by Linux.

On Sat, Aug 25, 2018, 1:06 PM Elliot Lee <notifications@github.com> wrote:

[2018-08-29 10:27] smsunarto opened #939 "RippleAPI server should support unix socket"
ripple-lib seems to only work with `ws://` and `wss://`

It should support `ws+unix://` too.

[2018-08-29 22:02] intelliot commented on #939
What is `ws+unix://` and how is it different from `ws://`?

[2018-08-29 22:02] intelliot commented on #938
@siegfriedschaefer Thanks! Would you like to open a PR?

[2018-08-29 22:06] intelliot commented on #937
Why do you want to use the validation_public_key as the secret?

Normally, you need to generate a secret. One way to do this is with [`generateAddress`](https://developers.ripple.com/rippleapi-reference.html#generateaddress).

[2018-08-30 02:03] #933 closed

[2018-08-30 02:58] smsunarto commented on #939
@intelliot it's for websocket through unix socket

ex: `ws+unix:///tmp/server.sock`

node.js `ws` library already supports it https://github.com/websockets/ws/blob/master/doc/ws.md so I think it would be sensical for ripple-lib to also support it by default.

[2018-08-30 03:28] Ryan3655 opened #940 "When the rippled server stops and restart, the ripple-lib will hang up."
@intelliot
@sharafian

Can you help me solve this problem? Thank you

STEP1: sudo systemctl stop rippled
STEP2: ripple_lib get this logs,
[code]
[code]

STEP3: I use the ripple-lib in my program. Is there any configuration correctly?
[code]

[2018-08-30 08:03] luongquocdinh commented on #937
Yes, but how to fix error - tefBAD_AUTH_MASTER?
I understand this error is because the single signature provided to authorize this transaction does not match the master key, but no regular key is associated with this address.

How to overlap `master key` and `the single signature provided to authorize this transaction`.  Validate domain again?

Thanks

[2018-08-30 09:16] intelliot commented on #937
The XRP Ledger account that you use for payments typically does not need a domain associated with it.

`tefBAD_AUTH_MASTER` means that the secret does not match the address. For the XRP Test Net, you can generate an address and secret at https://developers.ripple.com/xrp-test-net-faucet.html

[2018-08-30 19:54] intelliot commented on #937
How did you lose it?

The secret is generally not recoverable. You will need to generate a new secret (which will have a different address, of course).

[2018-08-30 22:25] MarkusTeufelberger commented on #929
Deriving an AccountSecret from a private key is not possible.

This article explains it in more detail: https://xrpcommunity.blog/keys-are-key-secret-keys-signing-transactions/

[2018-09-03 20:21] oscar-ordonez opened #942 "When I try to send all the funds of one account it returns me an error"
I am trying to send all the funds of a address to another. I tried subtracting the fee from the maxAmount, leaving the maxAmount with all the funds the account have and nothing. The error that's returning is: "resultCode":"tecUNFUNDED_PAYMENT","resultMessage":"Insufficient XRP balance to send."

Here is a part of my code:
`payment = {
            "source": {
                "address": balance.addr

[2018-09-03 21:27] tuloski commented on #942
https://developers.ripple.com/reserves.html

[2018-09-04 13:14] oscar-ordonez commented on #942
Thank you!

[2018-09-04 13:14] #942 closed

[2018-09-10 03:12] smsunarto commented on #939
@intelliot I've confirmed that ws+unix:// actually works out of the box with ripple-lib, you just need to update your regex validator here https://github.com/ripple/ripple-lib/blob/develop/src/common/schemas/input/api-options.json

[2018-09-13 03:10] serderovsh opened #945 "Support PHP"
We developed the library "RippleAPI" for "PHP"

https://github.com/iexbase/ripple-api

[2018-09-14 01:30] junderw commented on #819
This is also caused if destination tag is outside the specified range:

`[0 - 4294967295]` (both sides inclusive)

Someone put in 8 billion as their tag and it threw this error.

[2018-09-15 01:21] mDuo13 opened #946 "destination.address documented twice in Payment type"
(via @paleorbglow)

The `destination.address` field of the Payment transaction instructions appears twice with slightly different descriptions:

and

This is probably a glitch in the schema or something. Double-check and fix.